<section class="carousel-products">
  <div class="container">
    <div class="carousel-products__item">
      <div class="slider-products">
        <h2 class="slider-products__title">Рекомендуемые товары</h2>
        <div class="slider-products__content swiper">
          <div class="slider-products__wrapper swiper-wrapper">
            <div class="slider-products__slide swiper-slide">
              <a class="product-card product-card--carousel" href="#">
                <picture class="product-card__img">
                  <source type="image/avif" srcset="images/product-card/08@3x.avif 3x,
                                                        images/product-card/08@2x.avif 2x,
                                                        images/product-card/08.avif">
                  <source type="image/webp" srcset="images/product-card/08@3x.webp 3x,
                                                        images/product-card/08@2x.webp 2x,
                                                        images/product-card/08.webp">
                  <source type="image/jpg" srcset="images/product-card/08@3x.jpg 3x,
                                                       images/product-card/08@2x.jpg 2x">
                  <img src="images/product-card/08.jpg" alt="платье">
                </picture>
                <p class="product-card__category">топ женское</p>
                <p class="product-card__text">Джинсы Angels malu на молнии узкие черные б/у</p>
                <p class="product-card__price">139,00 EUR</p>
              </a>
            </div>
            <div class="slider-products__slide swiper-slide">
              <a class="product-card product-card--carousel" href="#">
                <picture class="product-card__img">
                  <source type="image/avif" srcset="images/product-card/03@3x.avif 3x,
                                                        images/product-card/03@2x.avif 2x,
                                                        images/product-card/03.avif">
                  <source type="image/webp" srcset="images/product-card/03@3x.webp 3x,
                                                        images/product-card/03@2x.webp 2x,
                                                        images/product-card/03.webp">
                  <source type="image/jpg" srcset="images/product-card/03@3x.jpg 3x,
                                                       images/product-card/03@2x.jpg 2x">
                  <img src="images/product-card/03.jpg" alt="платье">
                </picture>
                <p class="product-card__category">топ женское</p>
                <p class="product-card__text">Джинсы Angels malu на молнии узкие черные б/у</p>
                <p class="product-card__price">139,00 EUR</p>
              </a>
            </div>
            <div class="slider-products__slide swiper-slide">
              <a class="product-card product-card--carousel" href="#">
                <picture class="product-card__img">
                  <source type="image/avif" srcset="images/product-card/06@3x.avif 3x,
                                                        images/product-card/06@2x.avif 2x,
                                                        images/product-card/06.avif">
                  <source type="image/webp" srcset="images/product-card/06@3x.webp 3x,
                                                        images/product-card/06@2x.webp 2x,
                                                        images/product-card/06.webp">
                  <source type="image/jpg" srcset="images/product-card/06@3x.jpg 3x,
                                                       images/product-card/06@2x.jpg 2x">
                  <img src="images/product-card/06.jpg" alt="платье">
                </picture>
                <p class="product-card__category">топ женское</p>
                <p class="product-card__text">Джинсы Angels malu на молнии узкие черные б/у</p>
                <p class="product-card__price">139,00 EUR</p>
              </a>
            </div>
            <div class="slider-products__slide swiper-slide">
              <a class="product-card product-card--carousel" href="#">
                <picture class="product-card__img">
                  <source type="image/avif" srcset="images/product-card/01@3x.avif 3x,
                                                        images/product-card/01@2x.avif 2x,
                                                        images/product-card/01.avif">
                  <source type="image/webp" srcset="images/product-card/01@3x.webp 3x,
                                                        images/product-card/01@2x.webp 2x,
                                                        images/product-card/01.webp">
                  <source type="image/jpg" srcset="images/product-card/01@3x.jpg 3x,
                                                       images/product-card/01@2x.jpg 2x">
                  <img src="images/product-card/08.jpg" alt="платье">
                </picture>
                <p class="product-card__category">топ женское</p>
                <p class="product-card__text">Джинсы Angels malu на молнии узкие черные б/у</p>
                <p class="product-card__price">139,00 EUR</p>
              </a>
            </div>
            <div class="slider-products__slide swiper-slide">
              <a class="product-card product-card--carousel" href="#">
                <picture class="product-card__img">
                  <source type="image/avif" srcset="images/product-card/08@3x.avif 3x,
                                                        images/product-card/08@2x.avif 2x,
                                                        images/product-card/08.avif">
                  <source type="image/webp" srcset="images/product-card/08@3x.webp 3x,
                                                        images/product-card/08@2x.webp 2x,
                                                        images/product-card/08.webp">
                  <source type="image/jpg" srcset="images/product-card/08@3x.jpg 3x,
                                                       images/product-card/08@2x.jpg 2x">
                  <img src="images/product-card/08.jpg" alt="платье">
                </picture>
                <p class="product-card__category">топ женское</p>
                <p class="product-card__text">Джинсы Angels malu на молнии узкие черные б/у</p>
                <p class="product-card__price">139,00 EUR</p>
              </a>
            </div>
            <div class="slider-products__slide swiper-slide">
              <a class="product-card product-card--carousel" href="#">
                <picture class="product-card__img">
                  <source type="image/avif" srcset="images/product-card/03@3x.avif 3x,
                                                        images/product-card/03@2x.avif 2x,
                                                        images/product-card/03.avif">
                  <source type="image/webp" srcset="images/product-card/03@3x.webp 3x,
                                                        images/product-card/03@2x.webp 2x,
                                                        images/product-card/03.webp">
                  <source type="image/jpg" srcset="images/product-card/03@3x.jpg 3x,
                                                       images/product-card/03@2x.jpg 2x">
                  <img src="images/product-card/03.jpg" alt="платье">
                </picture>
                <p class="product-card__category">топ женское</p>
                <p class="product-card__text">Джинсы Angels malu на молнии узкие черные б/у</p>
                <p class="product-card__price">139,00 EUR</p>
              </a>
            </div>
            <div class="slider-products__slide swiper-slide">
              <a class="product-card product-card--carousel" href="#">
                <picture class="product-card__img">
                  <source type="image/avif" srcset="images/product-card/06@3x.avif 3x,
                                                        images/product-card/06@2x.avif 2x,
                                                        images/product-card/06.avif">
                  <source type="image/webp" srcset="images/product-card/06@3x.webp 3x,
                                                        images/product-card/06@2x.webp 2x,
                                                        images/product-card/06.webp">
                  <source type="image/jpg" srcset="images/product-card/06@3x.jpg 3x,
                                                       images/product-card/06@2x.jpg 2x">
                  <img src="images/product-card/06.jpg" alt="платье">
                </picture>
                <p class="product-card__category">топ женское</p>
                <p class="product-card__text">Джинсы Angels malu на молнии узкие черные б/у</p>
                <p class="product-card__price">139,00 EUR</p>
              </a>
            </div>
            <div class="slider-products__slide swiper-slide">
              <a class="product-card product-card--carousel" href="#">
                <picture class="product-card__img">
                  <source type="image/avif" srcset="images/product-card/01@3x.avif 3x,
                                                        images/product-card/01@2x.avif 2x,
                                                        images/product-card/01.avif">
                  <source type="image/webp" srcset="images/product-card/01@3x.webp 3x,
                                                        images/product-card/01@2x.webp 2x,
                                                        images/product-card/01.webp">
                  <source type="image/jpg" srcset="images/product-card/01@3x.jpg 3x,
                                                       images/product-card/01@2x.jpg 2x">
                  <img src="images/product-card/08.jpg" alt="платье">
                </picture>
                <p class="product-card__category">топ женское</p>
                <p class="product-card__text">Джинсы Angels malu на молнии узкие черные б/у</p>
                <p class="product-card__price">139,00 EUR</p>
              </a>
            </div>
          </div>
          <button class="slider-products__prev slider-products__btn" type="button" aria-label="предыдущий товар">
            <svg xmlns="http://www.w3.org/2000/svg" width="12.374" height="12.374" fill="none">
              <path d="M6.717.53L1.061 6.187l5.656 5.657" stroke="#828282" stroke-width="1.5" />
            </svg>
          </button>
          <button class="slider-products__next slider-products__btn" type="button" aria-label="следующий товар">
            <svg xmlns="http://www.w3.org/2000/svg" width="12.303" height="12.303" fill="none">
              <path d="M5.657 11.809l5.656-5.657L5.657.495" stroke="#828282" stroke-width="1.4" />
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="carousel-products__item">
      <div class="slider-products">
        <h2 class="slider-products__title">Популярные товары</h2>
        <div class="slider-products__content swiper">
          <div class="slider-products__wrapper swiper-wrapper">
            <div class="slider-products__slide swiper-slide">
              <a class="product-card product-card--carousel" href="#">
                <picture class="product-card__img">
                  <source type="image/avif" srcset="images/product-card/05@3x.avif 3x,
                                                          images/product-card/05@2x.avif 2x,
                                                          images/product-card/05.avif">
                  <source type="image/webp" srcset="images/product-card/05@3x.webp 3x,
                                                          images/product-card/05@2x.webp 2x,
                                                          images/product-card/05.webp">
                  <source type="image/jpg" srcset="images/product-card/05@3x.jpg 3x,
                                                         images/product-card/05@2x.jpg 2x">
                  <img src="images/product-card/05.jpg" alt="платье">
                </picture>
                <p class="product-card__category">топ женское</p>
                <p class="product-card__text">Джинсы Angels malu на молнии узкие черные б/у</p>
                <p class="product-card__price">139,00 EUR</p>
              </a>
            </div>
            <div class="slider-products__slide swiper-slide">
              <a class="product-card product-card--carousel" href="#">
                <picture class="product-card__img">
                  <source type="image/avif" srcset="images/product-card/03@3x.avif 3x,
                                                        images/product-card/03@2x.avif 2x,
                                                        images/product-card/03.avif">
                  <source type="image/webp" srcset="images/product-card/03@3x.webp 3x,
                                                        images/product-card/03@2x.webp 2x,
                                                        images/product-card/03.webp">
                  <source type="image/jpg" srcset="images/product-card/03@3x.jpg 3x,
                                                       images/product-card/03@2x.jpg 2x">
                  <img src="images/product-card/03.jpg" alt="платье">
                </picture>
                <p class="product-card__category">топ женское</p>
                <p class="product-card__text">Джинсы Angels malu на молнии узкие черные б/у</p>
                <p class="product-card__price">139,00 EUR</p>
              </a>
            </div>
            <div class="slider-products__slide swiper-slide">
              <a class="product-card product-card--carousel" href="#">
                <picture class="product-card__img">
                  <source type="image/avif" srcset="images/product-card/06@3x.avif 3x,
                                                        images/product-card/06@2x.avif 2x,
                                                        images/product-card/06.avif">
                  <source type="image/webp" srcset="images/product-card/06@3x.webp 3x,
                                                        images/product-card/06@2x.webp 2x,
                                                        images/product-card/06.webp">
                  <source type="image/jpg" srcset="images/product-card/06@3x.jpg 3x,
                                                       images/product-card/06@2x.jpg 2x">
                  <img src="images/product-card/06.jpg" alt="платье">
                </picture>
                <p class="product-card__category">топ женское</p>
                <p class="product-card__text">Джинсы Angels malu на молнии узкие черные б/у</p>
                <p class="product-card__price">139,00 EUR</p>
              </a>
            </div>
            <div class="slider-products__slide swiper-slide">
              <a class="product-card product-card--carousel" href="#">
                <picture class="product-card__img">
                  <source type="image/avif" srcset="images/product-card/01@3x.avif 3x,
                                                        images/product-card/01@2x.avif 2x,
                                                        images/product-card/01.avif">
                  <source type="image/webp" srcset="images/product-card/01@3x.webp 3x,
                                                        images/product-card/01@2x.webp 2x,
                                                        images/product-card/01.webp">
                  <source type="image/jpg" srcset="images/product-card/01@3x.jpg 3x,
                                                       images/product-card/01@2x.jpg 2x">
                  <img src="images/product-card/08.jpg" alt="платье">
                </picture>
                <p class="product-card__category">топ женское</p>
                <p class="product-card__text">Джинсы Angels malu на молнии узкие черные б/у</p>
                <p class="product-card__price">139,00 EUR</p>
              </a>
            </div>
            <div class="slider-products__slide swiper-slide">
              <a class="product-card product-card--carousel" href="#">
                <picture class="product-card__img">
                  <source type="image/avif" srcset="images/product-card/08@3x.avif 3x,
                                                        images/product-card/08@2x.avif 2x,
                                                        images/product-card/08.avif">
                  <source type="image/webp" srcset="images/product-card/08@3x.webp 3x,
                                                        images/product-card/08@2x.webp 2x,
                                                        images/product-card/08.webp">
                  <source type="image/jpg" srcset="images/product-card/08@3x.jpg 3x,
                                                       images/product-card/08@2x.jpg 2x">
                  <img src="images/product-card/08.jpg" alt="платье">
                </picture>
                <p class="product-card__category">топ женское</p>
                <p class="product-card__text">Джинсы Angels malu на молнии узкие черные б/у</p>
                <p class="product-card__price">139,00 EUR</p>
              </a>
            </div>
            <div class="slider-products__slide swiper-slide">
              <a class="product-card product-card--carousel" href="#">
                <picture class="product-card__img">
                  <source type="image/avif" srcset="images/product-card/03@3x.avif 3x,
                                                        images/product-card/03@2x.avif 2x,
                                                        images/product-card/03.avif">
                  <source type="image/webp" srcset="images/product-card/03@3x.webp 3x,
                                                        images/product-card/03@2x.webp 2x,
                                                        images/product-card/03.webp">
                  <source type="image/jpg" srcset="images/product-card/03@3x.jpg 3x,
                                                       images/product-card/03@2x.jpg 2x">
                  <img src="images/product-card/03.jpg" alt="платье">
                </picture>
                <p class="product-card__category">топ женское</p>
                <p class="product-card__text">Джинсы Angels malu на молнии узкие черные б/у</p>
                <p class="product-card__price">139,00 EUR</p>
              </a>
            </div>
            <div class="slider-products__slide swiper-slide">
              <a class="product-card product-card--carousel" href="#">
                <picture class="product-card__img">
                  <source type="image/avif" srcset="images/product-card/06@3x.avif 3x,
                                                        images/product-card/06@2x.avif 2x,
                                                        images/product-card/06.avif">
                  <source type="image/webp" srcset="images/product-card/06@3x.webp 3x,
                                                        images/product-card/06@2x.webp 2x,
                                                        images/product-card/06.webp">
                  <source type="image/jpg" srcset="images/product-card/06@3x.jpg 3x,
                                                       images/product-card/06@2x.jpg 2x">
                  <img src="images/product-card/06.jpg" alt="платье">
                </picture>
                <p class="product-card__category">топ женское</p>
                <p class="product-card__text">Джинсы Angels malu на молнии узкие черные б/у</p>
                <p class="product-card__price">139,00 EUR</p>
              </a>
            </div>
            <div class="slider-products__slide swiper-slide">
              <a class="product-card product-card--carousel" href="#">
                <picture class="product-card__img">
                  <source type="image/avif" srcset="images/product-card/01@3x.avif 3x,
                                                        images/product-card/01@2x.avif 2x,
                                                        images/product-card/01.avif">
                  <source type="image/webp" srcset="images/product-card/01@3x.webp 3x,
                                                        images/product-card/01@2x.webp 2x,
                                                        images/product-card/01.webp">
                  <source type="image/jpg" srcset="images/product-card/01@3x.jpg 3x,
                                                       images/product-card/01@2x.jpg 2x">
                  <img src="images/product-card/08.jpg" alt="платье">
                </picture>
                <p class="product-card__category">топ женское</p>
                <p class="product-card__text">Джинсы Angels malu на молнии узкие черные б/у</p>
                <p class="product-card__price">139,00 EUR</p>
              </a>
            </div>
          </div>
          <button class="slider-products__prev slider-products__btn" type="button" aria-label="предыдущий товар">
            <svg xmlns="http://www.w3.org/2000/svg" width="12.374" height="12.374" fill="none">
              <path d="M6.717.53L1.061 6.187l5.656 5.657" stroke="#828282" stroke-width="1.5" />
            </svg>
          </button>
          <button class="slider-products__next slider-products__btn" type="button" aria-label="следующий товар">
            <svg xmlns="http://www.w3.org/2000/svg" width="12.303" height="12.303" fill="none">
              <path d="M5.657 11.809l5.656-5.657L5.657.495" stroke="#828282" stroke-width="1.4" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>