<section class="explore-banner">
  <div class="container">
    <div class="explore-banner__wrapper">
      <div class="explore-banner__img">
        <img src="images/explore-banner/01.jpeg" alt="gerl">
      </div>
      <div class="explore-banner__content">
        <h2 class="explore-banner__title">EXPLORE THE BEST OF YOU.</h2>
        <p class="explore-banner__text">You can choose the best option for you, and it does not matter whether you are in Prague or San Francisco.</p>
        <a class="explore-banner__btn page-btn" href="#">shop now</a>
      </div>
    </div>
  </div>
</section>