html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: $mw;
  margin: 0 auto;
  padding: 0 15px;

  &--small {
    max-width: rem(1242);
  }
}

body {
  @extend %Roboto-400;
  font-size: rem(16);
  line-height: rem(28);
}

a {
  color: inherit;
}

button {
  cursor: pointer;
}

.page-btn {
  @include flex-center;
  width: clamp(7.1875rem, 6.4173rem + 3.8511vw, 10.9375rem);
  height: clamp(2.5625rem, 2.3699rem + 0.9628vw, 3.5rem);
  border: 2px solid $black;
  @extend %Oswald-500;
  font-size: clamp(0.875rem, 0.8237rem + 0.2567vw, 1.125rem);
  text-transform: uppercase;
}

.show-more {
  border-color: $divider;
  color: $gray;
  background-color: transparent;
}

.visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  white-space: nowrap;
}