<aside class="filter" aria-label="Фильтры товаров">
  <form class="filter__form" action="#" method="get">
    <div class="filter__result">
      <header class="filter__header">
        <h2 class="filter__title filter__title--big">Фильтр</h2>
        <button class="filter__reset" type="reset">Сбросить всё</button>
      </header>
      <!-- Активные выбранные фильтры -->
      <section class="filter__active">

      </section>
    </div>


    <!-- Бренд -->
    <fieldset class="filter__group filter__group--brand">
      <legend class="filter__subtitle" >Бренд</legend>
      <ul class="filter__options">
        <li class="filter__option">
          <label class="filter__option-label">
            <input class="filter__option-input" type="checkbox" name="brand" value="state">
            <span class="filter__option-checkbox"></span> state
          </label>
        </li>
        <li class="filter__option">
          <label class="filter__option-label">
            <input class="filter__option-input" type="checkbox" name="brand" value="cooper">
            <span class="filter__option-checkbox"></span> cooper
          </label>
        </li>
        <li class="filter__option">
          <label class="filter__option-label">
            <input class="filter__option-input" type="checkbox" name="brand" value="bardot">
            <span class="filter__option-checkbox"></span> bardot
          </label>
        </li>
        <li class="filter__option">
          <label class="filter__option-label">
            <input class="filter__option-input" type="checkbox" name="brand" value="alfani">
            <span class="filter__option-checkbox"></span> alfani
          </label>
        </li>
        <li class="filter__option">
          <label class="filter__option-label">
            <input class="filter__option-input" type="checkbox" name="brand" value="cece">
            <span class="filter__option-checkbox"></span> cece
          </label>
        </li>
        <li class="filter__option">
          <label class="filter__option-label">
            <input class="filter__option-input" type="checkbox" name="brand" value="donna ricco">
            <span class="filter__option-checkbox"></span> donna ricco
          </label>
        </li>
      </ul>
    </fieldset>

    <!-- Размер -->
    <fieldset class="filter__group filter__group--size">
      <legend class="filter__subtitle" >Размер (дюймы)</legend>
      <ul class="filter__options filter__options--grid">
        <li class="filter__option">
          <label class="filter__option-label">
            <input class="filter__option-input" type="checkbox" name="size" value="osfa">
            <span class="filter__option-checkbox-size">osfa</span>
          </label>
        </li>
        <li class="filter__option">
          <label class="filter__option-label">
            <input class="filter__option-input" type="checkbox" name="size" value="w26">
            <span class="filter__option-checkbox-size">W26</span>
          </label>
        </li>
        <li class="filter__option">
          <label class="filter__option-label">
            <input class="filter__option-input" type="checkbox" name="size" value="w27">
            <span class="filter__option-checkbox-size">W27</span>
          </label>
        </li>
        <li class="filter__option">
          <label class="filter__option-label">
            <input class="filter__option-input" type="checkbox" name="size" value="w28">
            <span class="filter__option-checkbox-size">W28</span>
          </label>
        </li>
        <li class="filter__option">
          <label class="filter__option-label">
            <input class="filter__option-input" type="checkbox" name="size" value="W29">
            <span class="filter__option-checkbox-size">W29</span>
          </label>
        </li>
        <li class="filter__option">
          <label class="filter__option-label">
            <input class="filter__option-input" type="checkbox" name="size" value="w30">
            <span class="filter__option-checkbox-size">W30</span>
          </label>
        </li>
        <li class="filter__option">
          <label class="filter__option-label">
            <input class="filter__option-input" type="checkbox" name="size" value="w31">
            <span class="filter__option-checkbox-size">W31</span>
          </label>
        </li>
        <li class="filter__option">
          <label class="filter__option-label">
            <input class="filter__option-input" type="checkbox" name="size" value="w32">
            <span class="filter__option-checkbox-size">W32</span>
          </label>
        </li>
        <li class="filter__option">
          <label class="filter__option-label">
            <input class="filter__option-input" type="checkbox" name="size" value="w33">
            <span class="filter__option-checkbox-size">W33</span>
          </label>
        </li>
        <li class="filter__option">
          <label class="filter__option-label">
            <input class="filter__option-input" type="checkbox" name="size" value="w34">
            <span class="filter__option-checkbox-size">W34</span>
          </label>
        </li>
        <li class="filter__option">
          <label class="filter__option-label">
            <input class="filter__option-input" type="checkbox" name="size" value="w35">
            <span class="filter__option-checkbox-size">W35</span>
          </label>
        </li>
        <li class="filter__option">
          <label class="filter__option-label">
            <input class="filter__option-input" type="checkbox" name="size" value="w36">
            <span class="filter__option-checkbox-size">W36</span>
          </label>
        </li>
        <li class="filter__option">
          <label class="filter__option-label">
            <input class="filter__option-input" type="checkbox" name="size" value="w38">
            <span class="filter__option-checkbox-size">W38</span>
          </label>
        </li>
        <li class="filter__option">
          <label class="filter__option-label">
            <input class="filter__option-input" type="checkbox" name="size" value="w40">
            <span class="filter__option-checkbox-size">W40</span>
          </label>
        </li>
        <li class="filter__option">
          <label class="filter__option-label">
            <input class="filter__option-input" type="checkbox" name="size" value="w42">
            <span class="filter__option-checkbox-size">W42</span>
          </label>
        </li>
        <li class="filter__option">
          <label class="filter__option-label">
            <input class="filter__option-input" type="checkbox" name="size" value="w44">
            <span class="filter__option-checkbox-size">W44</span>
          </label>
        </li>
        <li class="filter__option">
          <label class="filter__option-label">
            <input class="filter__option-input" type="checkbox" name="size" value="w46">
            <span class="filter__option-checkbox-size">W46</span>
          </label>
        </li>
        <li class="filter__option">
          <label class="filter__option-label">
            <input class="filter__option-input" type="checkbox" name="size" value="w48">
            <span class="filter__option-checkbox-size">W48</span>
          </label>
        </li>
        <li class="filter__option">
          <label class="filter__option-label">
            <input class="filter__option-input" type="checkbox" name="size" value="w50">
            <span class="filter__option-checkbox-size">W50</span>
          </label>
        </li>
        <li class="filter__option">
          <label class="filter__option-label">
            <input class="filter__option-input" type="checkbox" name="size" value="w52">
            <span class="filter__option-checkbox-size">W52</span>
          </label>
        </li>
      </ul>
    </fieldset>

    <!-- Длина платья -->
    <fieldset class="filter__group filter__group--dress-length">
      <legend class="filter__subtitle" >Длина платья</legend>
      <ul class="filter__options">
        <li class="filter__option">
          <label class="filter__option-label">
            <input class="filter__option-input" type="checkbox" name="length" value="Короткое">
            <span class="filter__option-checkbox"></span>Короткое
          </label>
        </li>
        <li class="filter__option">
          <label class="filter__option-label">
            <input class="filter__option-input" type="checkbox" name="length" value="До колена">
            <span class="filter__option-checkbox"></span>
            До колена
          </label>
        </li>
        <li class="filter__option">
          <label class="filter__option-label">
            <input class="filter__option-input" type="checkbox" name="length" value="Длинное">
            <span class="filter__option-checkbox"></span>Длинное
          </label>
        </li>
        <li class="filter__option">
          <label class="filter__option-label">
            <input class="filter__option-input" type="checkbox" name="length" value="Мини">
            <span class="filter__option-checkbox"></span> Мини
          </label>
        </li>
      </ul>
    </fieldset>

    <!-- Цвет -->
    <fieldset class="filter__group filter__group--color">
      <legend class="filter__subtitle" >Цвет</legend>
      <ul class="filter__options filter__options--colors">
        <li class="filter__option">
          <label class="filter__option-color filter__option-label">
            <input class="filter__option-input" type="checkbox" id="color-292A2D" name="color" value="292A2D">
            <span class="filter__option-checkbox-color" style="background-color: #292A2D;"></span>
          </label>
        </li>
        <li class="filter__option">
          <label class="filter__option-color filter__option-label">
            <input class="filter__option-input" type="checkbox" id="color-F3ECE2" name="color" value="F3ECE2">
            <span class="filter__option-checkbox-color" style="background-color: #F3ECE2;"></span>
          </label>
        </li>
        <li class="filter__option">
          <label class="filter__option-color filter__option-label">
            <input class="filter__option-input" type="checkbox" id="color-24426A" name="color" value="24426A">
            <span class="filter__option-checkbox-color" style="background-color: #24426A;"></span>
          </label>
        </li>
        <li class="filter__option">
          <label class="filter__option-color filter__option-label">
            <input class="filter__option-input" type="checkbox" id="color-18574A" name="color" value="18574A">
            <span class="filter__option-checkbox-color" style="background-color: #18574A;"></span>
          </label>
        </li>
        <li class="filter__option">
          <label class="filter__option-color filter__option-label">
            <input class="filter__option-input" type="checkbox" id="color-666689" name="color" value="666689">
            <span class="filter__option-checkbox-color" style="background-color: #666689;"></span>
          </label>
        </li>
        <li class="filter__option">
          <label class="filter__option-color filter__option-label">
            <input class="filter__option-input" type="checkbox" id="color-C2BEB6" name="color" value="C2BEB6">
            <span class="filter__option-checkbox-color" style="background-color: #C2BEB6;"></span>
          </label>
        </li>
        <li class="filter__option">
          <label class="filter__option-color filter__option-label">
            <input class="filter__option-input" type="checkbox" id="color-AAABA7" name="color" value="AAABA7">
            <span class="filter__option-checkbox-color" style="background-color: #AAABA7;"></span>
          </label>
        </li>
        <li class="filter__option">
          <label class="filter__option-color filter__option-label">
            <input class="filter__option-input" type="checkbox" id="color-971E34" name="color" value="971E34">
            <span class="filter__option-checkbox-color" style="background-color: #971E34;"></span>
          </label>
        </li>
        <li class="filter__option">
          <label class="filter__option-color filter__option-label">
            <input class="filter__option-input" type="checkbox" id="color-CBA13E" name="color" value="CBA13E">
            <span class="filter__option-checkbox-color" style="background-color: #CBA13E;"></span>
          </label>
        </li>
        <li class="filter__option">
          <label class="filter__option-color filter__option-label">
            <input class="filter__option-input" type="checkbox" id="color-73513C" name="color" value="73513C">
            <span class="filter__option-checkbox-color" style="background-color: #73513C;"></span>
          </label>
        </li>
        <li class="filter__option">
          <label class="filter__option-color filter__option-label">
            <input class="filter__option-input" type="checkbox" id="color-DAB1B1" name="color" value="DAB1B1">
            <span class="filter__option-checkbox-color" style="background-color: #DAB1B1;"></span>
          </label>
        </li>
        <li class="filter__option">
          <label class="filter__option-color filter__option-label">
            <input class="filter__option-input" type="checkbox" id="color-2B9FA7" name="color" value="2B9FA7">
            <span class="filter__option-checkbox-color" style="background-color: #2B9FA7;"></span>
          </label>
        </li>

      </ul>
    </fieldset>

    <!-- Цена -->
    <fieldset class="filter__group filter__group--price">
      <legend class="filter__subtitle">Цена</legend>
      <div class="price-range">
        <span class="price-range__min-label">0.00 EUR</span>
        <span class="price-range__max-label">250.00 EUR</span>

        <div class="price-range__track">
          <input type="range" class="price-range__input" min="0" max="400" value="0" step="1">
          <input type="range" class="price-range__input" min="0" max="400" value="250" step="1">
          <div class="price-range__progress"></div>
        </div>
      </div>
    </fieldset>
    <button type="submit" class="filter__apply">Применить</button>
  </form>
  <!-- О платьях -->
  <section class="filter__info">
    <h3 class="filter__title">О платьях</h3>
    <p class="filter__description">
      Каждый день мы стараемся предлагать самые актуальные тренды, чтобы помочь тебе выглядеть стильно.
      Выпускной, свадьба подруги или просто прогулка в парке – у нас есть платья для любого случая.
      Хочешь чего-то яркого и смелого? Без проблем! У нас есть платья в стиле драп, боди, мини, миди, оверсайз-рубашки
      и многое другое.
    </p>
  </section>
</aside>