<footer class="footer">
  <div class="footer__top">
    <div class="container">
      <ul class="footer__top-list">
        <li class="footer__top-item">Duties and Taxes Guaranteed</li>
        <li class="footer__top-item">Free Express Shipping</li>
        <li class="footer__top-item">Customer Love</li>
        <li class="footer__top-item">Easy Returns</li>
        <li class="footer__top-item">Secure Payment</li>
      </ul>
    </div>
  </div>
  <div class="footer__content footer-content">
    <div class="container">
      <div class="footer-content__wrapper">
        <a class="footer-content__logo" href="#">
          <img src="images/footer-logo.svg" alt="logo">
        </a>
        <ul class="footer-content__list">
          <li class="footer-content__list-title">features</li>
          <li class="footer-content__list-item"><a href="#">men</a></li>
          <li class="footer-content__list-item"><a href="#">Women</a></li>
          <li class="footer-content__list-item"><a href="#">boys</a></li>
          <li class="footer-content__list-item"><a href="#">girls</a></li>
          <li class="footer-content__list-item"><a href="#">new arrivals</a></li>
          <li class="footer-content__list-item"><a href="#">shoes</a></li>
          <li class="footer-content__list-item"><a href="#">cothes</a></li>
          <li class="footer-content__list-item"><a href="#">accessories</a></li>
        </ul>
        <ul class="footer-content__list footer-content__menu">
          <li class="footer-content__list-title">Menu</li>
          <li class="footer-content__list-item"><a href="#">About us</a></li>
          <li class="footer-content__list-item"><a href="#">contact us</a></li>
          <li class="footer-content__list-item"><a href="#">my account</a></li>
          <li class="footer-content__list-item"><a href="#">orders history</a></li>
          <li class="footer-content__list-item"><a href="#">MY WISHLIST</a></li>
          <li class="footer-content__list-item"><a href="#">BLOG</a></li>
          <li class="footer-content__list-item"><a href="#">LOGIN</a></li>
        </ul>
        <dl class="footer-content__contact footer-contact">
          <h3 class="footer-contact__title">contact us</h3>
          <div class="footer-contact__item">
            <dt>Address:</dt>
            <dd>123 STREET NAME, CITY, ENGLAND</dd>
          </div>
          <div class="footer-contact__item">
            <dt>Phone:</dt>
            <dd><a href="tel:+1234567890" target="_blank">(123) 456-7890</a></dd>
          </div>
          <div class="footer-contact__item">
            <dt>email:</dt>
            <dd><a href="mailto:MAIL@EXAMPLE.COM" target="_blank">MAIL@EXAMPLE.COM</a></dd>
          </div>
          <div class="footer-contact__item">
            <dt>working days/hours</dt>
            <dd>MON - SUN / 9:00AM - 8:00PM</dd>
          </div>
        </dl>
        <ul class="footer-content__follow footer-follow">
          <li class="footer-follow__title">contact us</li>
          <li class="footer-follow__item">
            <img src="images/icons/facebook.svg" alt="">
            FACEBOOK
          </li>
          <li class="footer-follow__item">
            <img src="images/icons/twitter.svg" alt="">
            TWITTER
          </li>
          <li class="footer-follow__item">
            <img src="images/icons/instagram.svg" alt="">
            INSTAGRAM
          </li>
        </ul>
        <form class="footer-content__form footer-form" action="#">
          <h3 class="footer-form__title">join us</h3>
          <p class="footer-form__text">Subscribe to our newsletters</p>
          <div class="footer-form__input">
            <input type="email" name="email" placeholder="Email Address">
          </div>
          <button class="footer-form__btn">Subscribe!</button>
        </form>
        <div class="footer-content__copy">© 2019. Crisp theme Developed by Belvg</div>
      </div>
    </div>
  </div>
</footer>