.header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: $black;
  color: $white;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: clamp(0.625rem, 0.3041rem + 1.6046vw, 2.1875rem) 0;
  }

  &__menu {
    display: flex;
    align-items: center;
    column-gap: rem(30);
    margin-left: rem(518);

    @media (max-width: em(1600)) {
      margin-left: rem(200);
    }

    @media (max-width: em(1200)) {
      margin-left: 0;
    }

    @media (max-width: em(1100)) {
      order: -1;
    }
  }
}

.logo {
  display: inline-block;
  max-width: clamp(4.125rem, 3.6629rem + 2.3107vw, 6.375rem);

  &__img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.menu {
  @media (max-width: em(1100)) {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 50;
    flex-direction: column;
    row-gap: rem(10);
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding-top: rem(60);
    background-color: $black;
    overflow-y: auto;
    transition: all 0.3s ease 0s;
    transform: translateX(-200%);

    &._active {
      transform: translateX(0);
    }

    .user-nav__link {
      padding: 0;
    }
  }

  &__btn {
    display: none;

    @media (max-width: em(1100)) {
      display: flex;
      position: relative;
      z-index: 51;
      align-items: center;
      justify-content: center;
      width: rem(20);
      height: rem(15);
      padding: 0;
      margin: 0;
      background-color: transparent;
      border: none;
      transform: translateX(0);

      span {
        display: inline-block;
        width: 100%;
        height: rem(3);
        background-color: $white;

        &::before,
        &::after {
          position: absolute;
          left: 0;
          content: '';
          display: inline-block;
          width: 100%;
          height: rem(3);
          background-color: $white;
          transition: all 0.3s ease 0s;
        }

        &::before {
          top: 0;
        }

        &::after {
          bottom: 0;
        }
      }
    }

    &._active {
      span {
        width: 0;

        &::after {
          bottom: rem(6);
          transform: rotate(45deg);
        }

        &::before {
          top: rem(6);
          transform: rotate(-45deg);
        }
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
    column-gap: rem(5);

    @media (max-width: em(1100)) {
      flex-direction: column;
      row-gap: rem(10);
    }

    a {
      position: relative;
      padding: rem(11) rem(6);
      @extend %Oswald-400;
      font-size: rem(14);
      text-transform: uppercase;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        display: inline-block;
        width: 100%;
        height: rem(2);
        background-color: $accent;
        transform: scaleX(0);
        transition: all 0.3s ease 0s;
      }

      @media (any-hover: hover) {
        &:hover {
          &::after {
            transform: scaleX(1);
          }
        }
      }

      &._active {
        &::after {
          transform: scaleX(1);
        }
      }
    }

    a._active::after {
      transform: scaleX(0);
    }
  }
}

.form-search {
  display: flex;
  justify-content: space-between;
  width: clamp(1.25rem, -2.6011rem + 19.2555vw, 20rem);
  transition: all 0.3s ease 0s;

  @media (max-width: em(1100)) {
    width: auto;
  }

  &._active {
    border-bottom: 1px solid $white;

    .form-search__input {
      display: block;
    }

    .form-search__btn {
      column-gap: 0;
      font-size: rem(0);
    }

    @media (max-width: em(1100)) {
      position: absolute;
      right: 100%;
      z-index: 12;
      background-color: $white;

      .form-search__input {
        padding: rem(10) rem(10) rem(10) rem(14);
      }

      .form-search__btn {
        background-color: $divider;
      }
    }
  }

  &__input {
    flex: 1 1 auto;
    display: none;
    padding: rem(5);
    border: none;
    @extend %Roboto-400;
    font-size: rem(14);
    line-height: rem(20);
    color: $white;
    background-color: transparent;

    &::placeholder {
      @extend %Roboto-400;
      font-size: rem(14);
      line-height: rem(20);
      color: $divider;
    }

    @media (max-width: em(1100)) {
      color: $black;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    column-gap: rem(8);
    border: none;
    @extend %Oswald-400;
    font-size: rem(14);
    text-transform: uppercase;
    color: $white;
    background-color: transparent;

    &::before {
      content: '';
      display: inline-block;
      width: rem(16);
      height: rem(16);
      background-image: url('../images/icons/search.svg');
      @include bg;
    }

    @media (max-width: em(1100)) {
      font-size: 0;
      column-gap: 0;
    }
  }
}

.user-nav {
  display: flex;
  align-items: center;

  @media (max-width: em(1100)) {
    position: relative;
  }

  &__link {
    @extend %Oswald-400;
    font-size: rem(14);
    text-transform: uppercase;

    &:first-child {
      margin-right: rem(12);

    }
  }

  &__favorite {
    display: flex;
    align-items: center;
    margin: rem(0) rem(20) rem(0) rem(30);

    @media (max-width: em(1100)) {
      margin: 0 rem(15);
    }

    path {
      transition: all 0.3s ease 0s;
    }

    @media (any-hover: hover) {
      &:hover {
        path {
          fill: $accent;
        }
      }
    }
  }

  &__cart-box {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    column-gap: rem(11);

    path {
      transition: all 0.3s ease 0s;
    }

    @media (any-hover: hover) {
      &:hover {
        path {
          fill: $accent;
          stroke: $accent;
        }
      }
    }
  }

  &__icon {
    position: relative;
    grid-row: span 2;
    display: flex;
    align-items: center;
    transition: all 0.3s ease 0s;

    span {
      position: absolute;
      top: 0;
      right: rem(-5);
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem(14);
      height: rem(14);
      @extend %Oswald-500;
      font-size: rem(10);
      background-color: $accent;
    }
  }

  &__cart-text {
    @extend %Roboto-400;
    font-size: rem(14);
    line-height: 1;

    @media (max-width: em(1100)) {
      font-size: 0;
    }
  }

  &__cart-price {
    @extend %Roboto-500;
    font-size: rem(14);
    line-height: 1;

    @media (max-width: em(1100)) {
      font-size: 0;
    }
  }
}