<div class="some-wear__filter filter-category">
  <h3 class="filter-category__title">Shop Some Wear:</h3>
  <form class="filter-category__form" action="#">
    <label class="filter-category__label">
      <input class="filter-category__input" type="checkbox">
      <span class="filter-category__checkbox"></span>
      <span class="filter-category__text">Best sellers</span>
    </label>
    <label class="filter-category__label">
      <input class="filter-category__input" type="checkbox">
      <span class="filter-category__checkbox"></span>
      <span class="filter-category__text">NEW Arivals</span>
    </label>
    <label class="filter-category__label">
      <input class="filter-category__input" type="checkbox">
      <span class="filter-category__checkbox"></span>
      <span class="filter-category__text">TOP women</span>
    </label>
    <label class="filter-category__label">
      <input class="filter-category__input" type="checkbox">
      <span class="filter-category__checkbox"></span>
      <span class="filter-category__text">Collection: Summer</span>
    </label>
    <label class="filter-category__label">
      <input class="filter-category__input" type="checkbox">
      <span class="filter-category__checkbox"></span>
      <span class="filter-category__text">Collection: spring</span>
    </label>
    <label class="filter-category__label">
      <input class="filter-category__input" type="checkbox">
      <span class="filter-category__checkbox"></span>
      <span class="filter-category__text">TREnding</span>
    </label>
  </form>
</div>