.breadcrumbs {
  &__list {
    display: flex;
    align-items: center;
    column-gap: rem(15);
  }

  &__item {
    position: relative;

    &:not(:last-child)::after {
      content: '/';
      position: absolute;
      right: rem(-10);
      top: 0;
      color: #828282;
    }
  }

  &__link {
    @extend %Roboto-400;
    font-size: rem(14);
    text-transform: capitalize;
    color: #828282;
  }
}