.shoping-slogan {
  margin: rem(17) 0 rem(77);

  &__wrapper {
    padding: rem(77) rem(270);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
  }

  &__title {
    position: relative;
    display: inline-block;
    @extend %Oswald-500;
    font-size: rem(55);
    line-height: rem(72);
    text-transform: uppercase;

    &:not(:last-child) {
      margin-bottom: rem(17);
    }

    &::after {
      position: absolute;
      top: rem(-16);
      right: rem(-56);
      content: '';
      display: inline-block;
      width: rem(603);
      height: rem(101);
      background-image: url('../images/shoping-slogan/decor.svg');
    }
  }

  &__text {
    max-width: rem(640);
    @extend %Roboto-300;
    font-size: rem(25);
    line-height: rem(37);

    &:not(:last-child) {
      margin-bottom: rem(24);
    }
  }
}