<section class="banners">
  <div class="container">
    <div class="banners__wrapper">
      <div class="banners__content">
        <div class="banners__item" style="background-image: url('images/banners/01.jpg');">
          <h2 class="banners__title">выбери <br> свой стиль</h2>
          <p class="banners__text">Познакомся с нашими коллекциями</p>
          <a href="#" class="banners__btn page-btn">подробнее</a>
        </div>
        <div class="banners__item" style="background-image: url('images/banners/03.jpg');">
          <h2 class="banners__title banners__title--big">Скидка <br> до 40%</h2>
          <p class="banners__text">Специальные предложения и выгодные распродажи</p>
          <a href="" class="banners__btn page-btn">купить сейчас</a>
        </div>
        <div class="banners__item" style="background-image: url('images/banners/02.jpg');">
          <h2 class="banners__title">совершенно <br> новый стиль</h2>
          <p class="banners__text">Популярные бренды одежды</p>
          <a href="#" class="banners__btn page-btn">подробнее</a>
        </div>
      </div>
    </div>
  </div>
</section>