<section class="banners">
  <div class="container">
    <div class="banners__wrapper">
      <div class="banners__item" style="background-image: url(images/banners/01.jpeg);">
        <div class="banners__content">
          <h3 class="banners__title">choosе <br> your look</h3>
          <p class="banners__text">See our clothing collections</p>
          <a href="#" class="banners__btn page-btn">see offers</a>
        </div>

      </div>
      <div class="banners__item" style="background-image: url(images/banners/02.jpeg);">
        <div class="banners__content">
          <h3 class="banners__title">brand new style</h3>
          <p class="banners__text">Popular clothing brands</p>
          <a href="#" class="banners__btn page-btn">see offers</a>
        </div>
      </div>
      <div class="banners__item" style="background-image: url(images/banners/03.jpeg);">
        <div class="banners__content">
          <h3 class="banners__title">Up to <br> 40% off</h3>
          <p class="banners__text">Special offers and great deals</p>
          <a href="#" class="banners__btn page-btn">shop now</a>
        </div>
      </div>
    </div>
  </div>
</section>