<section class="hero">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__slider hero-slider swiper">
        <div class="hero-slider__wrapper swiper-wrapper">
          <div class="hero-slider__slide swiper-slide" style="background-image: url(images/hero/bg.jpg);">
            <div class="hero-slider__column">
              <h2 class="hero-slider__title">
                ЛЕТНЯЯ РАСПРОДАЖА Получите <span>скидку 30%</span> На все платья.
              </h2>
              <a class="hero-slider__btn page-btn" href="#">к покупкам</a>
            </div>
            <div class="hero-slider__column hero-slider__images">
              <picture class="hero-slider__img">
                <source type="image/avif" srcset="images/hero/01@3x.avif,
                                                  images/hero/01@2x.avif,
                                                  images/hero/01.avif">
                <source type="image/webp" srcset="images/hero/01@3x.webp,
                                                  images/hero/01@2x.webp,
                                                  images/hero/01.webp">
                <source type="image/png" srcset="images/hero/01@3x.png,
                                                 images/hero/01@2x.png">
                <img src="images/hero/01.png" alt="девушка">
              </picture>
              <picture class="hero-slider__img hero-slider__img--big">
                <source type="image/avif" srcset="images/hero/02@3x.avif,
                                                  images/hero/02@2x.avif,
                                                  images/hero/02.avif">
                <source type="image/webp" srcset="images/hero/02@3x.webp,
                                                  images/hero/02@2x.webp,
                                                  images/hero/02.webp">
                <source type="image/png" srcset="images/hero/02@3x.png,
                                                 images/hero/02@2x.png">
                <img src="images/hero/02.png" alt="стены">
              </picture>
            </div>
          </div>
          <div class="hero-slider__slide swiper-slide" style="background-image: url(images/hero/bg.jpg);">
            <div class="hero-slider__column">
              <h2 class="hero-slider__title">
                ЛЕТНЯЯ РАСПРОДАЖА Получите <span>скидку 30%</span> На все платья.
              </h2>
              <a class="hero-slider__btn page-btn" href="#">к покупкам</a>
            </div>
            <div class="hero-slider__column hero-slider__images">
              <picture class="hero-slider__img">
                <source type="image/avif" srcset="images/hero/01@3x.avif,
                                                  images/hero/01@2x.avif,
                                                  images/hero/01.avif">
                <source type="image/webp" srcset="images/hero/01@3x.webp,
                                                  images/hero/01@2x.webp,
                                                  images/hero/01.webp">
                <source type="image/png" srcset="images/hero/01@3x.png,
                                                 images/hero/01@2x.png">
                <img src="images/hero/01.png" alt="девушка">
              </picture>
              <picture class="hero-slider__img hero-slider__img--big">
                <source type="image/avif" srcset="images/hero/02@3x.avif,
                                                  images/hero/02@2x.avif,
                                                  images/hero/02.avif">
                <source type="image/webp" srcset="images/hero/02@3x.webp,
                                                  images/hero/02@2x.webp,
                                                  images/hero/02.webp">
                <source type="image/png" srcset="images/hero/02@3x.png,
                                                 images/hero/02@2x.png">
                <img src="images/hero/02.png" alt="стены">
              </picture>
            </div>
          </div>
          <div class="hero-slider__slide swiper-slide" style="background-image: url(images/hero/bg.jpg);">
            <div class="hero-slider__column">
              <h2 class="hero-slider__title">
                ЛЕТНЯЯ РАСПРОДАЖА Получите <span>скидку 30%</span> На все платья.
              </h2>
              <a class="hero-slider__btn page-btn" href="#">к покупкам</a>
            </div>
            <div class="hero-slider__column hero-slider__images">
              <picture class="hero-slider__img">
                <source type="image/avif" srcset="images/hero/01@3x.avif,
                                                  images/hero/01@2x.avif,
                                                  images/hero/01.avif">
                <source type="image/webp" srcset="images/hero/01@3x.webp,
                                                  images/hero/01@2x.webp,
                                                  images/hero/01.webp">
                <source type="image/png" srcset="images/hero/01@3x.png,
                                                 images/hero/01@2x.png">
                <img src="images/hero/01.png" alt="девушка">
              </picture>
              <picture class="hero-slider__img hero-slider__img--big">
                <source type="image/avif" srcset="images/hero/02@3x.avif,
                                                  images/hero/02@2x.avif,
                                                  images/hero/02.avif">
                <source type="image/webp" srcset="images/hero/02@3x.webp,
                                                  images/hero/02@2x.webp,
                                                  images/hero/02.webp">
                <source type="image/png" srcset="images/hero/02@3x.png,
                                                 images/hero/02@2x.png">
                <img src="images/hero/02.png" alt="стены">
              </picture>
            </div>
          </div>
          <div class="hero-slider__slide swiper-slide" style="background-image: url(images/hero/bg.jpg);">
            <div class="hero-slider__column">
              <h2 class="hero-slider__title">
                ЛЕТНЯЯ РАСПРОДАЖА Получите <span>скидку 30%</span> На все платья.
              </h2>
              <a class="hero-slider__btn page-btn" href="#">к покупкам</a>
            </div>
            <div class="hero-slider__column hero-slider__images">
              <picture class="hero-slider__img">
                <source type="image/avif" srcset="images/hero/01@3x.avif,
                                                  images/hero/01@2x.avif,
                                                  images/hero/01.avif">
                <source type="image/webp" srcset="images/hero/01@3x.webp,
                                                  images/hero/01@2x.webp,
                                                  images/hero/01.webp">
                <source type="image/png" srcset="images/hero/01@3x.png,
                                                 images/hero/01@2x.png">
                <img src="images/hero/01.png" alt="девушка">
              </picture>
              <picture class="hero-slider__img hero-slider__img--big">
                <source type="image/avif" srcset="images/hero/02@3x.avif,
                                                  images/hero/02@2x.avif,
                                                  images/hero/02.avif">
                <source type="image/webp" srcset="images/hero/02@3x.webp,
                                                  images/hero/02@2x.webp,
                                                  images/hero/02.webp">
                <source type="image/png" srcset="images/hero/02@3x.png,
                                                 images/hero/02@2x.png">
                <img src="images/hero/02.png" alt="стены">
              </picture>
            </div>
          </div>
        </div>
        <div class="hero-slider__next"></div>
        <div class="hero-slider__prev"></div>
        <div class="hero-slider__pagination"></div>
      </div>
    </div>
  </div>
</section>