<section class="hero">
  <div class="container">
    <div class="swiper hero__slider">
      <div class="swiper-wrapper hero__slider-wrapper">
        <div class="hero__slider-item swiper-slide" style="background-image: url(images/hero/bg.jpeg);">
          <div class="hero__slider-content">
            <p class="hero__slider-text">
              SUMMER SALE GEt <span>30% OFF</span> On all dress.
            </p>
            <a class="hero__slider-btn page-btn" href="#">shop now</a>
          </div>
          <div class="hero__slider-images">
            <div class="hero__slider-smallimg">
              <img src="images/hero/01.jpeg" alt="">
            </div>
            <div class="hero__slider-bigimg">
              <img src="images/hero/02.jpeg" alt="">
            </div>
          </div>
        </div>
        <div class="hero__slider-item swiper-slide" style="background-image: url(images/hero/bg.jpeg);">
          <div class="hero__slider-content">
            <p class="hero__slider-text">
              SUMMER SALE GEt <span>30% OFF</span> On all dress.
            </p>
            <a class="hero__slider-btn page-btn" href="#">shop now</a>
          </div>
          <div class="hero__slider-images">
            <div class="hero__slider-smallimg">
              <img src="images/hero/02.jpeg" alt="">
            </div>
            <div class="hero__slider-bigimg">
              <img src="images/hero/01.jpeg" alt="">
            </div>
          </div>
        </div>
        <div class="hero__slider-item swiper-slide" style="background-image: url(images/hero/bg.jpeg);">
          <div class="hero__slider-content">
            <p class="hero__slider-text">
              SUMMER SALE GEt <span>30% OFF</span> On all dress.
            </p>
            <a class="hero__slider-btn page-btn" href="#">shop now</a>
          </div>
          <div class="hero__slider-images">
            <div class="hero__slider-smallimg">
              <img src="images/hero/01.jpeg" alt="">
            </div>
            <div class="hero__slider-bigimg">
              <img src="images/hero/02.jpeg" alt="">
            </div>
          </div>
        </div>
        <div class="hero__slider-item swiper-slide" style="background-image: url(images/hero/bg.jpeg);">
          <div class="hero__slider-content">
            <p class="hero__slider-text">
              SUMMER SALE GEt <span>30% OFF</span> On all dress.
            </p>
            <a class="hero__slider-btn page-btn" href="#">shop now</a>
          </div>
          <div class="hero__slider-images">
            <div class="hero__slider-smallimg">
              <img src="images/hero/02.jpeg" alt="">
            </div>
            <div class="hero__slider-bigimg">
              <img src="images/hero/01.jpeg" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="hero__slider-next"></div>
      <div class="hero__slider-prev"></div>
      <div class="hero__slider-pagination"></div>
  </div>
</section>