<secion class="product-carousel">
  <div class="container">
    <div class="product-carousel__slider">
      <h2 class="product-carousel__title">Featured Items</h2>
      <div class="slider-feature swiper">
        <div class="slider-feature__wrapper swiper-wrapper">
          <div class="slider-feature__item swiper-slide">
            <div class="card-product">
              <div class="card-product__img">
                <img src="images/product-carousel/01.jpeg" alt="dres">
              </div>
              <div class="card-product__category">
                TOP women
              </div>
              <p class="card-product__text">
                Angels malu zip jeans slim black used
              </p>
              <p class="card-product__price">139,00 EUR</p>
            </div>
          </div>
          <div class="slider-feature__item swiper-slide">
            <div class="card-product">
              <div class="card-product__img">
                <img src="images/product-carousel/02.jpeg" alt="dres">
              </div>
              <div class="card-product__category">
                TOP women
              </div>
              <p class="card-product__text">
                Angels malu zip jeans slim black used
              </p>
              <p class="card-product__price">139,00 EUR</p>
            </div>
          </div>
          <div class="slider-feature__item swiper-slide">
            <div class="card-product">
              <div class="card-product__img">
                <img src="images/product-carousel/03.jpeg" alt="dres">
              </div>
              <div class="card-product__category">
                TOP women
              </div>
              <p class="card-product__text">
                Angels malu zip jeans slim black used
              </p>
              <p class="card-product__price">139,00 EUR</p>
            </div>
          </div>
          <div class="slider-feature__item swiper-slide">
            <div class="card-product">
              <div class="card-product__img">
                <img src="images/product-carousel/04.jpeg" alt="dres">
              </div>
              <div class="card-product__category">
                TOP women
              </div>
              <p class="card-product__text">
                Angels malu zip jeans slim black used
              </p>
              <p class="card-product__price">139,00 EUR</p>
            </div>
          </div>
          <div class="slider-feature__item swiper-slide">
            <div class="card-product">
              <div class="card-product__img">
                <img src="images/product-carousel/05.jpeg" alt="dres">
              </div>
              <div class="card-product__category">
                TOP women
              </div>
              <p class="card-product__text">
                Angels malu zip jeans slim black used
              </p>
              <p class="card-product__price">139,00 EUR</p>
            </div>
          </div>
          <div class="slider-feature__item swiper-slide">
            <div class="card-product">
              <div class="card-product__img">
                <img src="images/product-carousel/05.jpeg" alt="dres">
              </div>
              <div class="card-product__category">
                TOP women
              </div>
              <p class="card-product__text">
                Angels malu zip jeans slim black used
              </p>
              <p class="card-product__price">139,00 EUR</p>
            </div>
          </div>
          <div class="slider-feature__item swiper-slide">
            <div class="card-product">
              <div class="card-product__img">
                <img src="images/product-carousel/05.jpeg" alt="dres">
              </div>
              <div class="card-product__category">
                TOP women
              </div>
              <p class="card-product__text">
                Angels malu zip jeans slim black used
              </p>
              <p class="card-product__price">139,00 EUR</p>
            </div>
          </div>
          <div class="slider-feature__item swiper-slide">
            <div class="card-product">
              <div class="card-product__img">
                <img src="images/product-carousel/01.jpeg" alt="dres">
              </div>
              <div class="card-product__category">
                TOP women
              </div>
              <p class="card-product__text">
                Angels malu zip jeans slim black used
              </p>
              <p class="card-product__price">139,00 EUR</p>
            </div>
          </div>
          <div class="slider-feature__item swiper-slide">
            <div class="card-product">
              <div class="card-product__img">
                <img src="images/product-carousel/02.jpeg" alt="dres">
              </div>
              <div class="card-product__category">
                TOP women
              </div>
              <p class="card-product__text">
                Angels malu zip jeans slim black used
              </p>
              <p class="card-product__price">139,00 EUR</p>
            </div>
          </div>
          <div class="slider-feature__item swiper-slide">
            <div class="card-product">
              <div class="card-product__img">
                <img src="images/product-carousel/03.jpeg" alt="dres">
              </div>
              <div class="card-product__category">
                TOP women
              </div>
              <p class="card-product__text">
                Angels malu zip jeans slim black used
              </p>
              <p class="card-product__price">139,00 EUR</p>
            </div>
          </div>
          <div class="slider-feature__item swiper-slide">
            <div class="card-product">
              <div class="card-product__img">
                <img src="images/product-carousel/04.jpeg" alt="dres">
              </div>
              <div class="card-product__category">
                TOP women
              </div>
              <p class="card-product__text">
                Angels malu zip jeans slim black used
              </p>
              <p class="card-product__price">139,00 EUR</p>
            </div>
          </div>
        </div>
        <div class="slider-feature-next"></div>
        <div class="slider-feature-prev"></div>
      </div>
    </div>
    <div class="product-carousel__slider">
      <h2 class="product-carousel__title">Most Popular</h2>
      <div class="slider-feature swiper">
        <div class="slider-feature__wrapper swiper-wrapper">
          <div class="slider-feature__item swiper-slide">
            <div class="card-product">
              <div class="card-product__img">
                <img src="images/product-carousel/01.jpeg" alt="dres">
              </div>
              <div class="card-product__category">
                TOP women
              </div>
              <p class="card-product__text">
                Angels malu zip jeans slim black used
              </p>
              <p class="card-product__price">139,00 EUR</p>
            </div>
          </div>
          <div class="slider-feature__item swiper-slide">
            <div class="card-product">
              <div class="card-product__img">
                <img src="images/product-carousel/02.jpeg" alt="dres">
              </div>
              <div class="card-product__category">
                TOP women
              </div>
              <p class="card-product__text">
                Angels malu zip jeans slim black used
              </p>
              <p class="card-product__price">139,00 EUR</p>
            </div>
          </div>
          <div class="slider-feature__item swiper-slide">
            <div class="card-product">
              <div class="card-product__img">
                <img src="images/product-carousel/03.jpeg" alt="dres">
              </div>
              <div class="card-product__category">
                TOP women
              </div>
              <p class="card-product__text">
                Angels malu zip jeans slim black used
              </p>
              <p class="card-product__price">139,00 EUR</p>
            </div>
          </div>
          <div class="slider-feature__item swiper-slide">
            <div class="card-product">
              <div class="card-product__img">
                <img src="images/product-carousel/04.jpeg" alt="dres">
              </div>
              <div class="card-product__category">
                TOP women
              </div>
              <p class="card-product__text">
                Angels malu zip jeans slim black used
              </p>
              <p class="card-product__price">139,00 EUR</p>
            </div>
          </div>
          <div class="slider-feature__item swiper-slide">
            <div class="card-product">
              <div class="card-product__img">
                <img src="images/product-carousel/05.jpeg" alt="dres">
              </div>
              <div class="card-product__category">
                TOP women
              </div>
              <p class="card-product__text">
                Angels malu zip jeans slim black used
              </p>
              <p class="card-product__price">139,00 EUR</p>
            </div>
          </div>
          <div class="slider-feature__item swiper-slide">
            <div class="card-product">
              <div class="card-product__img">
                <img src="images/product-carousel/05.jpeg" alt="dres">
              </div>
              <div class="card-product__category">
                TOP women
              </div>
              <p class="card-product__text">
                Angels malu zip jeans slim black used
              </p>
              <p class="card-product__price">139,00 EUR</p>
            </div>
          </div>
          <div class="slider-feature__item swiper-slide">
            <div class="card-product">
              <div class="card-product__img">
                <img src="images/product-carousel/05.jpeg" alt="dres">
              </div>
              <div class="card-product__category">
                TOP women
              </div>
              <p class="card-product__text">
                Angels malu zip jeans slim black used
              </p>
              <p class="card-product__price">139,00 EUR</p>
            </div>
          </div>
          <div class="slider-feature__item swiper-slide">
            <div class="card-product">
              <div class="card-product__img">
                <img src="images/product-carousel/01.jpeg" alt="dres">
              </div>
              <div class="card-product__category">
                TOP women
              </div>
              <p class="card-product__text">
                Angels malu zip jeans slim black used
              </p>
              <p class="card-product__price">139,00 EUR</p>
            </div>
          </div>
          <div class="slider-feature__item swiper-slide">
            <div class="card-product">
              <div class="card-product__img">
                <img src="images/product-carousel/02.jpeg" alt="dres">
              </div>
              <div class="card-product__category">
                TOP women
              </div>
              <p class="card-product__text">
                Angels malu zip jeans slim black used
              </p>
              <p class="card-product__price">139,00 EUR</p>
            </div>
          </div>
          <div class="slider-feature__item swiper-slide">
            <div class="card-product">
              <div class="card-product__img">
                <img src="images/product-carousel/03.jpeg" alt="dres">
              </div>
              <div class="card-product__category">
                TOP women
              </div>
              <p class="card-product__text">
                Angels malu zip jeans slim black used
              </p>
              <p class="card-product__price">139,00 EUR</p>
            </div>
          </div>
          <div class="slider-feature__item swiper-slide">
            <div class="card-product">
              <div class="card-product__img">
                <img src="images/product-carousel/04.jpeg" alt="dres">
              </div>
              <div class="card-product__category">
                TOP women
              </div>
              <p class="card-product__text">
                Angels malu zip jeans slim black used
              </p>
              <p class="card-product__price">139,00 EUR</p>
            </div>
          </div>
        </div>
        <div class="slider-feature-next"></div>
        <div class="slider-feature-prev"></div>
      </div>
    </div>
  </div>
</secion>