.catalog-content {
  margin: rem(20) 0 rem(40);

  &__breadcrumbs {
    &:not(:last-child) {
      margin-bottom: rem(18);
    }
  }

  &__box {
    display: flex;
  }

  &__filter {
    padding: rem(18) rem(40) rem(18) 0;
    width: rem(396);
    border-right: 1px solid #C4C4C4;
  }
}

.filter {
  &__form {
    &:not(:last-child) {
      margin-bottom: rem(60);
    }
  }

  &__title {
    @extend %Oswald-400;
    font-size: rem(24);
    text-transform: capitalize;

    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }

  &__text {
    @extend %Roboto-300;
    font-size: rem(18);
    line-height: rem(28);
    text-align: justify;
  }
}

.filter-choice._close {
  height: 0;
  opacity: 0;
  padding: 0;
  transition: all 0.3s ease 0s;

  &:not(:last-child) {
    margin-bottom: 0;
  }
}

.filter-form {

  &__item {
    &:not(:last-child) {
      margin-bottom: rem(60);
    }

    &:has(._close) {
      .filter-form__title {
        margin-bottom: rem(20);
      }

      margin-bottom: 0;
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend %Oswald-400;
    font-size: rem(24);
    text-transform: capitalize;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: rem(35);
    }

    &::after {
      content: '';
      display: inline-block;
      width: rem(12);
      height: rem(2);
      background-color: #3F3F3F;
    }
  }

  &__list._close,
  &__grid._close,
  &__grid-color._close,
  .filter__range-slider._close {
    height: 0;
    opacity: 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: rem(25);
  }

  &__label {
    display: flex;
    align-items: center;
    column-gap: rem(8);
    @extend %Roboto-400;
    font-size: rem(14);
    text-transform: uppercase;
    color: #3F3F3F;
    cursor: pointer;

    input[type=checkbox]:checked+.filter-form__checkbox {
      background-color: $black;
      border-color: $black;
      background-image: url('../images/icons/check.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    input[type=checkbox]:checked+.filter-form__checkbox-square {
      outline: 2px solid $black;
    }

    input[type=checkbox]:checked+.filter-form__checkbox-color {
      outline: 2px solid $black;
    }

    &:has(input[type=checkbox]:checked) {
      color: $black;
    }
  }

  &__input {
    @extend %checkbox-hidden;
  }

  &__checkbox {
    display: inline-block;
    width: rem(10);
    height: rem(10);
    border: 1px solid #828282;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(5, rem(46));
    grid-auto-rows: rem(46);
    gap: rem(10);
  }

  &__checkbox-square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(46);
    height: rem(46);
    border: 1px solid #C4C4C4;
    @extend %Oswald-400;
    font-size: rem(14);
    text-transform: uppercase;
    color: #828282;
  }

  &__grid-color {
    display: grid;
    grid-template-columns: repeat(7, rem(23));
    grid-auto-rows: rem(23);
    gap: rem(18) rem(20);
  }

  &__checkbox-color {
    width: rem(23);
    height: rem(23);
    border: 3px solid $white;
  }

  &__bottom {
    display: flex;
    justify-content: flex-end;
    margin-top: rem(-34);
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(114);
    height: rem(40);
    border: 2px solid #C4C4C4;
    @extend %Oswald-500;
    font-size: rem(14);
    text-transform: uppercase;
    color: #828282;
    background-color: #F0F2F2;
  }
}

.filter-choice {
  padding: rem(28) rem(22);
  border: 1px solid $black;

  &:not(:last-child) {
    margin-bottom: rem(60);
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: rem(40);
    }
  }

  &__title {
    @extend %Oswald-400;
    font-size: rem(32);
  }

  &__btn {
    padding-left: rem(17);
    border: none;
    @extend %Oswald-400;
    font-size: rem(14);
    text-transform: uppercase;
    background-color: transparent;
    background-image: url('../images/icons/clean.svg');
    background-repeat: no-repeat;
    background-position: center left;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }

  &__name {
    @extend %Oswald-400;
    font-size: rem(24);
    text-transform: capitalize;

    &:not(:last-child) {
      margin-bottom: rem(16);
    }
  }

  &__category {
    display: flex;
    gap: rem(14);
    flex-wrap: wrap;
  }

  &__category-item {
    display: flex;
    align-items: center;
    column-gap: rem(8);
    @extend %Roboto-400;
    font-size: rem(14);
    text-transform: uppercase;

    &::before {
      content: '';
      display: inline-block;
      width: rem(8);
      height: rem(8);
      background-image: url('../images/icons/clean.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left center;
    }
  }

  &__category-color {
    display: inline-block;
    width: rem(23);
    height: rem(23);
    margin-left: rem(10);
    border: 3px solid $white;
    outline: 1px solid #C4C4C4;
  }
}

.filter {

  &__range-form {
    span {
      @extend %Roboto-400;
      font-size: rem(14);
      text-transform: uppercase;
    }
  }

  &__range-slider {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: rem(35);
  }

  &__range-container {
    position: relative;
    height: rem(25);
    flex-basis: 100%;

    input[type=range] {
      position: absolute;
      top: rem(8);
      left: rem(-3);
      width: 100%;
      height: 5px;
      background: none;
      pointer-events: none;
      -webkit-appearance: none;
      z-index: 2;
    }

    input[type=range]::-webkit-slider-thumb {
      pointer-events: all;
      width: rem(6);
      height: rem(20);
      background: black;
      cursor: pointer;
      -webkit-appearance: none;
    }

    input[type=range]::-moz-range-thumb {
      pointer-events: all;
      width: 12px;
      height: 24px;
      background: black;
      cursor: pointer;
      -webkit-appearance: none;
    }

  }

  &__range-track {
    position: absolute;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    height: rem(1);
    width: 100%;
    background-color: #BDBDBD;
    z-index: 3;

    &-fill {
      background: $black;
    }
  }

  &__range-bottom {
    text-align: right;
  }

  &__range-btn {
    max-width: rem(114);
    width: 100%;
    height: rem(40);
    @extend %Oswald-500;
    font-size: rem(14);
    letter-spacing: 0.5px;
    text-transform: uppercase;
    border: 2px solid #C4C4C4;
    color: #828282;
    background-color: rgb(240, 242, 242);
  }
}

.catalog-cards {
  flex: 1 1 auto;

  &__filter {
    width: 100%;

  }

  &__filter-form {
    display: flex;
    justify-content: flex-end;
    column-gap: rem(20);
  }

  &__filter-sort {
    flex: 0 0 rem(225);
  }

  &__filter-sort,
  &__filter-size {
    padding: rem(11) rem(16) rem(11) rem(11);
    @extend %Oswald-400;
    font-size: rem(14);
    text-transform: uppercase;
    border: 1px solid #C4C4C4;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url('../images/icons/arrow-down.svg');
    background-repeat: no-repeat;
    background-size: 10px 5px;
    background-position: right 16px center;
    cursor: pointer;
  }

  &__filter-size {
    flex: 0 0 rem(69);
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: rem(40) rem(25);
    padding: rem(20) rem(0) rem(44) rem(29);
  }

  &__banner {
    grid-column: span 4;
    padding: rem(78) rem(179) rem(60);
    color: $white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
  }

  &__banner-title {
    position: relative;
    max-width: rem(590);
    @extend %Oswald-500;
    font-size: rem(56);
    line-height: rem(72);
    text-transform: uppercase;

    &::before {
      content: '';
      position: absolute;
      top: rem(-19);
      right: rem(-57);
      display: inline-block;
      width: rem(603);
      height: rem(100);
      background-image: url('../images/catalog/decor.svg')
    }

    &:not(:last-child) {
      margin-bottom: rem(17);
    }
  }

  &__banner-text {
    max-width: rem(610);
    @extend %Roboto-300;
    font-size: rem(24);
    line-height: rem(37);

    &:not(:last-child) {
      margin-bottom: rem(24);
    }
  }

  &__banner-btn {
    border-color: $white;
  }
}