<section class="catalog-content">
  <div class="container">
    <div class="catalog-content__wrapper">
      <div class="catalog-content__breadcrumbs breadcrumbs">
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="#">Home</a>
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="#">Womens Dress</a>
          </li>
          <li class="breadcrumbs__item">
            <span class="breadcrumbs__link" href="#">Best Chose</span>
          </li>
        </ul>
      </div>
      <div class="catalog-content__box">
        <div class="catalog-content__filter filter">
          <form class="filter__form filter-form" action="#">
            <div class="filter-form__choice filter-choice _close">
              <div class="filter-choice__top">
                <h2 class="filter-choice__title">Filter</h2>
                <button class="filter-choice__btn" type="button" id="filterChoiceBtn">reset all</button>
              </div>
              <div class="filter-choice__content">
                <div class="filter-choice__item">
                  <div class="filter-choice__name">Brand:</div>
                  <ul class="filter-choice__category">
                    <li class="filter-choice__category-item">
                      bardot
                    </li>
                    <li class="filter-choice__category-item">
                      Cooper
                    </li>
                  </ul>
                </div>
                <div class="filter-choice__item">
                  <div class="filter-choice__name">Size (Inches):</div>
                  <ul class="filter-choice__category">
                    <li class="filter-choice__category-item">
                      W32
                    </li>
                  </ul>
                </div>
                <div class="filter-choice__item">
                  <div class="filter-choice__name">Dress length:</div>
                  <ul class="filter-choice__category">
                    <li class="filter-choice__category-item">
                      hight low
                    </li>
                  </ul>
                </div>
                <div class="filter-choice__item">
                  <div class="filter-choice__name">Color:</div>
                  <ul class="filter-choice__category">
                    <li class="filter-choice__category-item">
                      <span class="filter-choice__category-color" style="background-color: #18574A;"></span>
                    </li>
                  </ul>
                </div>
                <div class="filter-choice__item">
                  <div class="filter-choice__name">Price Range:</div>
                  <ul class="filter-choice__category">
                    <li class="filter-choice__category-item">
                      0.00 EUR – 250 EUR
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="filter-form__item">
              <h2 class="filter-form__title">Brand</h2>
              <div class="filter-form__list">
                <label class="filter-form__label">
                  <input class="filter-form__input" type="checkbox">
                  <span class="filter-form__checkbox"></span>State
                </label>
                <label class="filter-form__label">
                  <input class="filter-form__input" type="checkbox">
                  <span class="filter-form__checkbox"></span>cooper
                </label>
                <label class="filter-form__label">
                  <input class="filter-form__input" type="checkbox">
                  <span class="filter-form__checkbox"></span>bardot
                </label>
                <label class="filter-form__label">
                  <input class="filter-form__input" type="checkbox">
                  <span class="filter-form__checkbox"></span>alfani
                </label>
                <label class="filter-form__label">
                  <input class="filter-form__input" type="checkbox">
                  <span class="filter-form__checkbox"></span>cece
                </label>
                <label class="filter-form__label">
                  <input class="filter-form__input" type="checkbox">
                  <span class="filter-form__checkbox"></span>donna ricco
                </label>
              </div>
            </div>
            <div class="filter-form__item">
              <h2 class="filter-form__title">Size (Inches)</h2>
              <div class="filter-form__grid">
                <label class="filter-form__label">
                  <input class="filter-form__input" type="checkbox">
                  <span class="filter-form__checkbox-square">OSFA</span>
                </label>
                <label class="filter-form__label">
                  <input class="filter-form__input" type="checkbox">
                  <span class="filter-form__checkbox-square">w26</span>
                </label>
                <label class="filter-form__label">
                  <input class="filter-form__input" type="checkbox">
                  <span class="filter-form__checkbox-square">w27</span>
                </label>
                <label class="filter-form__label">
                  <input class="filter-form__input" type="checkbox">
                  <span class="filter-form__checkbox-square">w28</span>
                </label>
                <label class="filter-form__label">
                  <input class="filter-form__input" type="checkbox">
                  <span class="filter-form__checkbox-square">w29</span>
                </label>
                <label class="filter-form__label">
                  <input class="filter-form__input" type="checkbox">
                  <span class="filter-form__checkbox-square">w30</span>
                </label>
                <label class="filter-form__label">
                  <input class="filter-form__input" type="checkbox">
                  <span class="filter-form__checkbox-square">w31</span>
                </label>
                <label class="filter-form__label">
                  <input class="filter-form__input" type="checkbox">
                  <span class="filter-form__checkbox-square">w32</span>
                </label>
                <label class="filter-form__label">
                  <input class="filter-form__input" type="checkbox">
                  <span class="filter-form__checkbox-square">w33</span>
                </label>
                <label class="filter-form__label">
                  <input class="filter-form__input" type="checkbox">
                  <span class="filter-form__checkbox-square">w34</span>
                </label>
                <label class="filter-form__label">
                  <input class="filter-form__input" type="checkbox">
                  <span class="filter-form__checkbox-square">w35</span>
                </label>
                <label class="filter-form__label">
                  <input class="filter-form__input" type="checkbox">
                  <span class="filter-form__checkbox-square">w36</span>
                </label>
                <label class="filter-form__label">
                  <input class="filter-form__input" type="checkbox">
                  <span class="filter-form__checkbox-square">w38</span>
                </label>
                <label class="filter-form__label">
                  <input class="filter-form__input" type="checkbox">
                  <span class="filter-form__checkbox-square">w40</span>
                </label>
                <label class="filter-form__label">
                  <input class="filter-form__input" type="checkbox">
                  <span class="filter-form__checkbox-square">w42</span>
                </label>
                <label class="filter-form__label">
                  <input class="filter-form__input" type="checkbox">
                  <span class="filter-form__checkbox-square">w44</span>
                </label>
                <label class="filter-form__label">
                  <input class="filter-form__input" type="checkbox">
                  <span class="filter-form__checkbox-square">w46</span>
                </label>
                <label class="filter-form__label">
                  <input class="filter-form__input" type="checkbox">
                  <span class="filter-form__checkbox-square">w48</span>
                </label>
                <label class="filter-form__label">
                  <input class="filter-form__input" type="checkbox">
                  <span class="filter-form__checkbox-square">w50</span>
                </label>
                <label class="filter-form__label">
                  <input class="filter-form__input" type="checkbox">
                  <span class="filter-form__checkbox-square">w52</span>
                </label>
              </div>
            </div>
            <div class="filter-form__item">
              <h2 class="filter-form__title">Dress length</h2>
              <div class="filter-form__list">
                <label class="filter-form__label">
                  <input class="filter-form__input" type="checkbox">
                  <span class="filter-form__checkbox"></span>short
                </label>
                <label class="filter-form__label">
                  <input class="filter-form__input" type="checkbox">
                  <span class="filter-form__checkbox"></span>knee length
                </label>
                <label class="filter-form__label">
                  <input class="filter-form__input" type="checkbox">
                  <span class="filter-form__checkbox"></span>hight low
                </label>
                <label class="filter-form__label">
                  <input class="filter-form__input" type="checkbox">
                  <span class="filter-form__checkbox"></span>long
                </label>
                <label class="filter-form__label">
                  <input class="filter-form__input" type="checkbox">
                  <span class="filter-form__checkbox"></span>midi
                </label>
              </div>
            </div>
            <div class="filter-form__item">
              <h2 class="filter-form__title">Color</h2>
              <div class="filter-form__grid-color">
                <label class="filter-form__label">
                  <input class="filter-form__input" type="checkbox">
                  <span class="filter-form__checkbox-color" style="background-color: #292A2D;"></span>
                </label>
                <label class="filter-form__label">
                  <input class="filter-form__input" type="checkbox">
                  <span class="filter-form__checkbox-color" style="background-color: #F3ECE2;"></span>
                </label>
                <label class="filter-form__label">
                  <input class="filter-form__input" type="checkbox">
                  <span class="filter-form__checkbox-color" style="background-color: #24426A;"></span>
                </label>
                <label class="filter-form__label">
                  <input class="filter-form__input" type="checkbox">
                  <span class="filter-form__checkbox-color" style="background-color: #18574A;"></span>
                </label>
                <label class="filter-form__label">
                  <input class="filter-form__input" type="checkbox">
                  <span class="filter-form__checkbox-color" style="background-color: #666689;"></span>
                </label>
                <label class="filter-form__label">
                  <input class="filter-form__input" type="checkbox">
                  <span class="filter-form__checkbox-color" style="background-color: #C2BEB6;"></span>
                </label>
                <label class="filter-form__label">
                  <input class="filter-form__input" type="checkbox">
                  <span class="filter-form__checkbox-color" style="background-color: #AAABA7;"></span>
                </label>
                <label class="filter-form__label">
                  <input class="filter-form__input" type="checkbox">
                  <span class="filter-form__checkbox-color" style="background-color: #971E34;"></span>
                </label>
                <label class="filter-form__label">
                  <input class="filter-form__input" type="checkbox">
                  <span class="filter-form__checkbox-color" style="background-color: #CBA13E;"></span>
                </label>
                <label class="filter-form__label">
                  <input class="filter-form__input" type="checkbox">
                  <span class="filter-form__checkbox-color" style="background-color: #73513C;"></span>
                </label>
                <label class="filter-form__label">
                  <input class="filter-form__input" type="checkbox">
                  <span class="filter-form__checkbox-color" style="background-color: #DAB1B1;"></span>
                </label>
                <label class="filter-form__label">
                  <input class="filter-form__input" type="checkbox">
                  <span class="filter-form__checkbox-color" style="background-color: #2B9FA7;"></span>
                </label>
              </div>
            </div>
            <div class="filter-form__item">
              <h2 class="filter-form__title">Price Range</h2>
              <div class="filter__range-slider">
                <span id="min-price-label">0.00 EUR</span>
                <span id="max-price-label">400.00 EUR</span>

                <div class="filter__range-container">
                  <input type="range" id="range-min" value="0" min="0" max="400" step="1">
                  <input type="range" id="range-max" value="250" min="0" max="400" step="1">
                  <div class="filter__range-track"></div>
                </div>
              </div>
            </div>
            <div class="filter-form__bottom">
              <button class="filter-form__btn" type="button" id="filterFormBtn">apply</button>
            </div>
          </form>
          <div class="filter__about">
            <h3 class="filter__title">About Dresses</h3>
            <p class="filter__text">
              Every day we’re gonna be dropping the latest trends to help you nail every Summer sitch. Whether it’s a
              graduation, your mate's wedding, or just a cute day at the races with the gals, our occasion dresses have
              got you covered. Not looking for something fancy? No stress. We’ve got day dresses for days (aka bodycon
              dresses, t-shirt dresses, oversized shirt dresses).
            </p>
          </div>
        </div>
        <div class="catalog-content__cards catalog-cards">
          <div class="catalog-cards__filter">
            <form class="catalog-cards__filter-form" action="#">
              <select class="catalog-cards__filter-sort" name="sort" id="sort">
                <option value="High to low">price (High to low)</option>
                <option value="Low to high">price (Low to high)</option>
              </select>
              <select class="catalog-cards__filter-size" name="size" id="size">
                <option value="48">48</option>
                <option value="50">50</option>
                <option value="52">52</option>
                <option value="54">54</option>
                <option value="56">56</option>
                <option value="58">58</option>
              </select>
            </form>
          </div>
          <div class="catalog-cards__content">
            <div class="card-product">
              <div class="card-product__img">
                <img src="images/some-wear/01.jpeg" alt="dres">
              </div>
              <div class="card-product__category">
                TOP women
              </div>
              <p class="card-product__text">
                Angels malu zip jeans slim black used
              </p>
              <p class="card-product__price">139,00 EUR</p>
              <form class="card-product__colors" action="#">
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox">
                  <span class="card-product__checkbox" style="background-color: #24426A;"></span>
                </label>
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox" checked>
                  <span class="card-product__checkbox" style="background-color: #18574A;"></span>
                </label>
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox">
                  <span class="card-product__checkbox" style="background-color: #666689;"></span>
                </label>
              </form>
            </div>
            <div class="card-product">
              <div class="card-product__img">
                <img src="images/catalog/02.jpg" alt="dres">
              </div>
              <div class="card-product__category">
                TOP women
              </div>
              <p class="card-product__text">
                Angels malu zip jeans slim black used
              </p>
              <p class="card-product__price">235,00 EUR</p>
              <form class="card-product__colors" action="#">
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox">
                  <span class="card-product__checkbox" style="background-color: #88ABCB;"></span>
                </label>
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox" checked>
                  <span class="card-product__checkbox" style="background-color: #FACBCE;"></span>
                </label>
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox">
                  <span class="card-product__checkbox" style="background-color: #A75E5D;"></span>
                </label>
              </form>
            </div>
            <div class="card-product">
              <div class="card-product__img">
                <img src="images/catalog/03.jpg" alt="dres">
              </div>
              <div class="card-product__category">
                TOP women
              </div>
              <p class="card-product__text">
                Angels malu zip jeans slim black used
              </p>
              <p class="card-product__price">90,00 EUR</p>
              <form class="card-product__colors" action="#">
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox" checked>
                  <span class="card-product__checkbox" style="background-color: #C2BEB6;"></span>
                </label>
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox">
                  <span class="card-product__checkbox" style="background-color: #24426A;"></span>
                </label>
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox">
                  <span class="card-product__checkbox" style="background-color: #CBA13E;"></span>
                </label>
              </form>
            </div>
            <div class="card-product">
              <div class="card-product__img">
                <img src="images/catalog/04.jpg" alt="dres">
              </div>
              <div class="card-product__category">
                TOP women
              </div>
              <p class="card-product__text">
                Angels malu zip jeans slim black used
              </p>
              <p class="card-product__price">139,00 EUR</p>
              <form class="card-product__colors" action="#">
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox">
                  <span class="card-product__checkbox" style="background-color: #24426A;"></span>
                </label>
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox" checked>
                  <span class="card-product__checkbox" style="background-color: #F3ECE2;"></span>
                </label>
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox">
                  <span class="card-product__checkbox" style="background-color: #666689;"></span>
                </label>
              </form>
            </div>
            <div class="card-product">
              <div class="card-product__img">
                <img src="images/catalog/05.jpg" alt="dres">
              </div>
              <div class="card-product__category">
                TOP women
              </div>
              <p class="card-product__text">
                Angels malu zip jeans slim black used
              </p>
              <p class="card-product__price">139,00 EUR</p>
              <form class="card-product__colors" action="#">
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox">
                  <span class="card-product__checkbox" style="background-color: #2B9FA7;"></span>
                </label>
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox" checked>
                  <span class="card-product__checkbox" style="background-color: #971E34;"></span>
                </label>
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox">
                  <span class="card-product__checkbox" style="background-color: #666689;"></span>
                </label>
              </form>
            </div>
            <div class="card-product">
              <div class="card-product__img">
                <img src="images/catalog/06.jpg" alt="dres">
              </div>
              <div class="card-product__category">
                TOP women
              </div>
              <p class="card-product__text">
                Angels malu zip jeans slim black used
              </p>
              <p class="card-product__price">139,00 EUR</p>
              <form class="card-product__colors" action="#">
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox">
                  <span class="card-product__checkbox" style="background-color: #666689;"></span>
                </label>
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox" checked>
                  <span class="card-product__checkbox" style="background-color: #292A2D;"></span>
                </label>
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox">
                  <span class="card-product__checkbox" style="background-color: #F3ECE2;"></span>
                </label>
              </form>
            </div>
            <div class="card-product">
              <div class="card-product__img">
                <img src="images/catalog/02.jpg" alt="dres">
              </div>
              <div class="card-product__category">
                TOP women
              </div>
              <p class="card-product__text">
                Angels malu zip jeans slim black used
              </p>
              <p class="card-product__price">139,00 EUR</p>
              <form class="card-product__colors" action="#">
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox">
                  <span class="card-product__checkbox" style="background-color: #88ABCB;"></span>
                </label>
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox" checked>
                  <span class="card-product__checkbox" style="background-color: #FACBCE;"></span>
                </label>
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox">
                  <span class="card-product__checkbox" style="background-color: #A75E5D;"></span>
                </label>
              </form>
            </div>
            <div class="card-product">
              <div class="card-product__img">
                <img src="images/catalog/07.jpg" alt="dres">
              </div>
              <div class="card-product__category">
                TOP women
              </div>
              <p class="card-product__text">
                Angels malu zip jeans slim black used
              </p>
              <p class="card-product__price">139,00 EUR</p>
              <form class="card-product__colors" action="#">
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox">
                  <span class="card-product__checkbox" style="background-color: #F3ECE2;"></span>
                </label>
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox" checked>
                  <span class="card-product__checkbox" style="background-color: #292A2D;"></span>
                </label>
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox">
                  <span class="card-product__checkbox" style="background-color: #AAABA7;"></span>
                </label>
              </form>
            </div>
            <div class="card-product">
              <div class="card-product__img">
                <img src="images/catalog/04.jpg" alt="dres">
              </div>
              <div class="card-product__category">
                TOP women
              </div>
              <p class="card-product__text">
                Angels malu zip jeans slim black used
              </p>
              <p class="card-product__price">139,00 EUR</p>
              <form class="card-product__colors" action="#">
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox">
                  <span class="card-product__checkbox" style="background-color: #24426A;"></span>
                </label>
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox" checked>
                  <span class="card-product__checkbox" style="background-color: #18574A;"></span>
                </label>
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox">
                  <span class="card-product__checkbox" style="background-color: #666689;"></span>
                </label>
              </form>
            </div>
            <div class="card-product">
              <div class="card-product__img">
                <img src="images/catalog/01.jpg" alt="dres">
              </div>
              <div class="card-product__category">
                TOP women
              </div>
              <p class="card-product__text">
                Angels malu zip jeans slim black used
              </p>
              <p class="card-product__price">139,00 EUR</p>
              <form class="card-product__colors" action="#">
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox">
                  <span class="card-product__checkbox" style="background-color: #88ABCB;"></span>
                </label>
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox" checked>
                  <span class="card-product__checkbox" style="background-color: #FACBCE;"></span>
                </label>
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox">
                  <span class="card-product__checkbox" style="background-color: #A75E5D;"></span>
                </label>
              </form>
            </div>
            <div class="card-product">
              <div class="card-product__img">
                <img src="images/catalog/05.jpg" alt="dres">
              </div>
              <div class="card-product__category">
                TOP women
              </div>
              <p class="card-product__text">
                Angels malu zip jeans slim black used
              </p>
              <p class="card-product__price">139,00 EUR</p>
              <form class="card-product__colors" action="#">
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox">
                  <span class="card-product__checkbox" style="background-color: #C2BEB6;"></span>
                </label>
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox" checked>
                  <span class="card-product__checkbox" style="background-color: #24426A;"></span>
                </label>
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox">
                  <span class="card-product__checkbox" style="background-color: #CBA13E;"></span>
                </label>
              </form>
            </div>
            <div class="card-product">
              <div class="card-product__img">
                <img src="images/catalog/07.jpg" alt="dres">
              </div>
              <div class="card-product__category">
                TOP women
              </div>
              <p class="card-product__text">
                Angels malu zip jeans slim black used
              </p>
              <p class="card-product__price">139,00 EUR</p>
              <form class="card-product__colors" action="#">
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox">
                  <span class="card-product__checkbox" style="background-color: #24426A;"></span>
                </label>
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox" checked>
                  <span class="card-product__checkbox" style="background-color: #F3ECE2;"></span>
                </label>
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox">
                  <span class="card-product__checkbox" style="background-color: #666689;"></span>
                </label>
              </form>
            </div>
            <div class="catalog-cards__banner" style="background-image: url(images/catalog/bg.jpg);">
              <h2 class="catalog-cards__banner-title">shoping without limits.</h2>
              <p class="catalog-cards__banner-text">You can choose the best option for you, and it does not matter
                whether you are in Prague or San Francisco. We will
                deliver your purchase anywhere!</p>
              <a class="catalog-cards__banner-btn page-btn" href="#">shop now</a>
            </div>
            <div class="card-product">
              <div class="card-product__img">
                <img src="images/some-wear/01.jpeg" alt="dres">
              </div>
              <div class="card-product__category">
                TOP women
              </div>
              <p class="card-product__text">
                Angels malu zip jeans slim black used
              </p>
              <p class="card-product__price">139,00 EUR</p>
              <form class="card-product__colors" action="#">
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox">
                  <span class="card-product__checkbox" style="background-color: #24426A;"></span>
                </label>
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox" checked>
                  <span class="card-product__checkbox" style="background-color: #18574A;"></span>
                </label>
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox">
                  <span class="card-product__checkbox" style="background-color: #666689;"></span>
                </label>
              </form>
            </div>
            <div class="card-product">
              <div class="card-product__img">
                <img src="images/catalog/02.jpg" alt="dres">
              </div>
              <div class="card-product__category">
                TOP women
              </div>
              <p class="card-product__text">
                Angels malu zip jeans slim black used
              </p>
              <p class="card-product__price">235,00 EUR</p>
              <form class="card-product__colors" action="#">
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox">
                  <span class="card-product__checkbox" style="background-color: #88ABCB;"></span>
                </label>
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox" checked>
                  <span class="card-product__checkbox" style="background-color: #FACBCE;"></span>
                </label>
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox">
                  <span class="card-product__checkbox" style="background-color: #A75E5D;"></span>
                </label>
              </form>
            </div>
            <div class="card-product">
              <div class="card-product__img">
                <img src="images/catalog/03.jpg" alt="dres">
              </div>
              <div class="card-product__category">
                TOP women
              </div>
              <p class="card-product__text">
                Angels malu zip jeans slim black used
              </p>
              <p class="card-product__price">90,00 EUR</p>
              <form class="card-product__colors" action="#">
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox" checked>
                  <span class="card-product__checkbox" style="background-color: #C2BEB6;"></span>
                </label>
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox">
                  <span class="card-product__checkbox" style="background-color: #24426A;"></span>
                </label>
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox">
                  <span class="card-product__checkbox" style="background-color: #CBA13E;"></span>
                </label>
              </form>
            </div>
            <div class="card-product">
              <div class="card-product__img">
                <img src="images/catalog/04.jpg" alt="dres">
              </div>
              <div class="card-product__category">
                TOP women
              </div>
              <p class="card-product__text">
                Angels malu zip jeans slim black used
              </p>
              <p class="card-product__price">139,00 EUR</p>
              <form class="card-product__colors" action="#">
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox">
                  <span class="card-product__checkbox" style="background-color: #24426A;"></span>
                </label>
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox" checked>
                  <span class="card-product__checkbox" style="background-color: #F3ECE2;"></span>
                </label>
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox">
                  <span class="card-product__checkbox" style="background-color: #666689;"></span>
                </label>
              </form>
            </div>
            <div class="card-product">
              <div class="card-product__img">
                <img src="images/catalog/05.jpg" alt="dres">
              </div>
              <div class="card-product__category">
                TOP women
              </div>
              <p class="card-product__text">
                Angels malu zip jeans slim black used
              </p>
              <p class="card-product__price">139,00 EUR</p>
              <form class="card-product__colors" action="#">
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox">
                  <span class="card-product__checkbox" style="background-color: #2B9FA7;"></span>
                </label>
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox" checked>
                  <span class="card-product__checkbox" style="background-color: #971E34;"></span>
                </label>
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox">
                  <span class="card-product__checkbox" style="background-color: #666689;"></span>
                </label>
              </form>
            </div>
            <div class="card-product">
              <div class="card-product__img">
                <img src="images/catalog/06.jpg" alt="dres">
              </div>
              <div class="card-product__category">
                TOP women
              </div>
              <p class="card-product__text">
                Angels malu zip jeans slim black used
              </p>
              <p class="card-product__price">139,00 EUR</p>
              <form class="card-product__colors" action="#">
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox">
                  <span class="card-product__checkbox" style="background-color: #666689;"></span>
                </label>
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox" checked>
                  <span class="card-product__checkbox" style="background-color: #292A2D;"></span>
                </label>
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox">
                  <span class="card-product__checkbox" style="background-color: #F3ECE2;"></span>
                </label>
              </form>
            </div>
            <div class="card-product">
              <div class="card-product__img">
                <img src="images/catalog/02.jpg" alt="dres">
              </div>
              <div class="card-product__category">
                TOP women
              </div>
              <p class="card-product__text">
                Angels malu zip jeans slim black used
              </p>
              <p class="card-product__price">139,00 EUR</p>
              <form class="card-product__colors" action="#">
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox">
                  <span class="card-product__checkbox" style="background-color: #88ABCB;"></span>
                </label>
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox" checked>
                  <span class="card-product__checkbox" style="background-color: #FACBCE;"></span>
                </label>
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox">
                  <span class="card-product__checkbox" style="background-color: #A75E5D;"></span>
                </label>
              </form>
            </div>
            <div class="card-product">
              <div class="card-product__img">
                <img src="images/catalog/07.jpg" alt="dres">
              </div>
              <div class="card-product__category">
                TOP women
              </div>
              <p class="card-product__text">
                Angels malu zip jeans slim black used
              </p>
              <p class="card-product__price">139,00 EUR</p>
              <form class="card-product__colors" action="#">
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox">
                  <span class="card-product__checkbox" style="background-color: #F3ECE2;"></span>
                </label>
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox" checked>
                  <span class="card-product__checkbox" style="background-color: #292A2D;"></span>
                </label>
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox">
                  <span class="card-product__checkbox" style="background-color: #AAABA7;"></span>
                </label>
              </form>
            </div>
            <div class="card-product">
              <div class="card-product__img">
                <img src="images/catalog/04.jpg" alt="dres">
              </div>
              <div class="card-product__category">
                TOP women
              </div>
              <p class="card-product__text">
                Angels malu zip jeans slim black used
              </p>
              <p class="card-product__price">139,00 EUR</p>
              <form class="card-product__colors" action="#">
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox">
                  <span class="card-product__checkbox" style="background-color: #24426A;"></span>
                </label>
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox" checked>
                  <span class="card-product__checkbox" style="background-color: #18574A;"></span>
                </label>
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox">
                  <span class="card-product__checkbox" style="background-color: #666689;"></span>
                </label>
              </form>
            </div>
            <div class="card-product">
              <div class="card-product__img">
                <img src="images/catalog/01.jpg" alt="dres">
              </div>
              <div class="card-product__category">
                TOP women
              </div>
              <p class="card-product__text">
                Angels malu zip jeans slim black used
              </p>
              <p class="card-product__price">139,00 EUR</p>
              <form class="card-product__colors" action="#">
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox">
                  <span class="card-product__checkbox" style="background-color: #88ABCB;"></span>
                </label>
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox" checked>
                  <span class="card-product__checkbox" style="background-color: #FACBCE;"></span>
                </label>
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox">
                  <span class="card-product__checkbox" style="background-color: #A75E5D;"></span>
                </label>
              </form>
            </div>
            <div class="card-product">
              <div class="card-product__img">
                <img src="images/catalog/05.jpg" alt="dres">
              </div>
              <div class="card-product__category">
                TOP women
              </div>
              <p class="card-product__text">
                Angels malu zip jeans slim black used
              </p>
              <p class="card-product__price">139,00 EUR</p>
              <form class="card-product__colors" action="#">
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox">
                  <span class="card-product__checkbox" style="background-color: #C2BEB6;"></span>
                </label>
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox" checked>
                  <span class="card-product__checkbox" style="background-color: #24426A;"></span>
                </label>
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox">
                  <span class="card-product__checkbox" style="background-color: #CBA13E;"></span>
                </label>
              </form>
            </div>
            <div class="card-product">
              <div class="card-product__img">
                <img src="images/catalog/07.jpg" alt="dres">
              </div>
              <div class="card-product__category">
                TOP women
              </div>
              <p class="card-product__text">
                Angels malu zip jeans slim black used
              </p>
              <p class="card-product__price">139,00 EUR</p>
              <form class="card-product__colors" action="#">
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox">
                  <span class="card-product__checkbox" style="background-color: #24426A;"></span>
                </label>
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox" checked>
                  <span class="card-product__checkbox" style="background-color: #F3ECE2;"></span>
                </label>
                <label class="card-product__label">
                  <input class="card-product__input" type="checkbox">
                  <span class="card-product__checkbox" style="background-color: #666689;"></span>
                </label>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>