<section class="catalog-content">
  <div class="container">
    <div class="catalog-content__wrapper">
      <div class="catalog-content__breadcrumbs breadcrumbs">
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item"> 
            <a class="breadcrumbs__link" href="#">Home</a>
          </li>
          <li class="breadcrumbs__item"> 
            <a class="breadcrumbs__link" href="#">Womens Dress</a>
          </li>
          <li class="breadcrumbs__item"> 
            <span class="breadcrumbs__link" href="#">Best Chose</span>
          </li>
        </ul>
      </div>
      <div class="catalog-content__box">
        <div class="catalog-content__filter filter">
          <div class="filter__brands filter__item">
            <div class="filter__top">
              <h3 class="filter__title">Brand</h3>
              <button class="filter__btn" type="button"><span></span></button>
            </div>
            <form class="filter__brands-form filter__form" action="#">
              <label class="filter__brands-form-label">
                <input class="filter__brands-form-input" type="checkbox">
                <span class="filter__brands-form-checkbox"></span>State
              </label>
              <label class="filter__brands-form-label">
                <input class="filter__brands-form-input" type="checkbox">
                <span class="filter__brands-form-checkbox"></span>Cooper
              </label>
              <label class="filter__brands-form-label">
                <input class="filter__brands-form-input" type="checkbox">
                <span class="filter__brands-form-checkbox"></span>bardot
              </label>
              <label class="filter__brands-form-label">
                <input class="filter__brands-form-input" type="checkbox">
                <span class="filter__brands-form-checkbox"></span>alfani
              </label>
              <label class="filter__brands-form-label">
                <input class="filter__brands-form-input" type="checkbox">
                <span class="filter__brands-form-checkbox"></span>cece
              </label>
              <label class="filter__brands-form-label">
                <input class="filter__brands-form-input" type="checkbox">
                <span class="filter__brands-form-checkbox"></span>donna ricco
              </label>
            </form>
          </div>
          <div class="filter__size filter__item">
            <div class="filter__top">
              <h3 class="filter__title">Size (Inches)</h3>
              <button class="filter__btn" type="button"><span></span></button>
            </div>
            <form class="filter__size-form filter__form" action="#">
              <label class="filter__size-form-label">
                <input class="filter__size-form-input" type="checkbox">
                <span class="filter__size-form-checkbox">osfa</span>
              </label>
              <label class="filter__size-form-label">
                <input class="filter__size-form-input" type="checkbox">
                <span class="filter__size-form-checkbox">w26</span>
              </label>
              <label class="filter__size-form-label">
                <input class="filter__size-form-input" type="checkbox">
                <span class="filter__size-form-checkbox">w27</span>
              </label>
              <label class="filter__size-form-label">
                <input class="filter__size-form-input" type="checkbox">
                <span class="filter__size-form-checkbox">w28</span>
              </label>
              <label class="filter__size-form-label">
                <input class="filter__size-form-input" type="checkbox">
                <span class="filter__size-form-checkbox">w29</span>
              </label>
              <label class="filter__size-form-label">
                <input class="filter__size-form-input" type="checkbox">
                <span class="filter__size-form-checkbox">w30</span>
              </label>
              <label class="filter__size-form-label">
                <input class="filter__size-form-input" type="checkbox">
                <span class="filter__size-form-checkbox">w31</span>
              </label>
              <label class="filter__size-form-label">
                <input class="filter__size-form-input" type="checkbox">
                <span class="filter__size-form-checkbox">w32</span>
              </label>
              <label class="filter__size-form-label">
                <input class="filter__size-form-input" type="checkbox">
                <span class="filter__size-form-checkbox">w33</span>
              </label>
              <label class="filter__size-form-label">
                <input class="filter__size-form-input" type="checkbox">
                <span class="filter__size-form-checkbox">w34</span>
              </label>
              <label class="filter__size-form-label">
                <input class="filter__size-form-input" type="checkbox">
                <span class="filter__size-form-checkbox">w35</span>
              </label>
              <label class="filter__size-form-label">
                <input class="filter__size-form-input" type="checkbox">
                <span class="filter__size-form-checkbox">w36</span>
              </label>
              <label class="filter__size-form-label">
                <input class="filter__size-form-input" type="checkbox">
                <span class="filter__size-form-checkbox">w38</span>
              </label>
              <label class="filter__size-form-label">
                <input class="filter__size-form-input" type="checkbox">
                <span class="filter__size-form-checkbox">w40</span>
              </label>
              <label class="filter__size-form-label">
                <input class="filter__size-form-input" type="checkbox">
                <span class="filter__size-form-checkbox">w42</span>
              </label>
              <label class="filter__size-form-label">
                <input class="filter__size-form-input" type="checkbox">
                <span class="filter__size-form-checkbox">w44</span>
              </label>
              <label class="filter__size-form-label">
                <input class="filter__size-form-input" type="checkbox">
                <span class="filter__size-form-checkbox">w46</span>
              </label>
              <label class="filter__size-form-label">
                <input class="filter__size-form-input" type="checkbox">
                <span class="filter__size-form-checkbox">w48</span>
              </label>
              <label class="filter__size-form-label">
                <input class="filter__size-form-input" type="checkbox">
                <span class="filter__size-form-checkbox">w50</span>
              </label>
              <label class="filter__size-form-label">
                <input class="filter__size-form-input" type="checkbox">
                <span class="filter__size-form-checkbox">w52</span>
              </label>
            </form>
          </div>
          <div class="filter__length filter__item">
            <div class="filter__top">
              <h3 class="filter__title">Dress length</h3>
              <button class="filter__btn" type="button"><span></span></button>
            </div>
            <form class="filter__length-form filter__form" action="#">
              <label class="filter__length-label">
                <input class="filter__length-input" type="checkbox">
                <span class="filter__length-checkbox"></span>short
              </label>
              <label class="filter__length-label">
                <input class="filter__length-input" type="checkbox">
                <span class="filter__length-checkbox"></span>knee length
              </label>
              <label class="filter__length-label">
                <input class="filter__length-input" type="checkbox">
                <span class="filter__length-checkbox"></span>hight low
              </label>
              <label class="filter__length-label">
                <input class="filter__length-input" type="checkbox">
                <span class="filter__length-checkbox"></span>long
              </label>
              <label class="filter__length-label">
                <input class="filter__length-input" type="checkbox">
                <span class="filter__length-checkbox"></span>midi
              </label>
            </form>
          </div>
          <div class="filter__color filter__item">
            <div class="filter__top">
              <h3 class="filter__title">Color</h3>
              <button class="filter__btn" type="button"><span></span></button>
            </div>
            <form class="filter__color-form filter__form" action="#">
              <label class="filter__color-label">
                <input class="filter__color-input" type="checkbox">
                <span class="filter__color-checkbox" style="background-color: #292A2D;"></span>
              </label>
              <label class="filter__color-label">
                <input class="filter__color-input" type="checkbox">
                <span class="filter__color-checkbox" style="background-color: #F3ECE2;"></span>
              </label>
              <label class="filter__color-label">
                <input class="filter__color-input" type="checkbox">
                <span class="filter__color-checkbox" style="background-color: #24426A;"></span>
              </label>
              <label class="filter__color-label">
                <input class="filter__color-input" type="checkbox">
                <span class="filter__color-checkbox" style="background-color: #18574A;"></span>
              </label>
              <label class="filter__color-label">
                <input class="filter__color-input" type="checkbox">
                <span class="filter__color-checkbox" style="background-color: #666689;"></span>
              </label>
              <label class="filter__color-label">
                <input class="filter__color-input" type="checkbox">
                <span class="filter__color-checkbox" style="background-color: #C2BEB6;"></span>
              </label>
              <label class="filter__color-label">
                <input class="filter__color-input" type="checkbox">
                <span class="filter__color-checkbox" style="background-color: #AAABA7;"></span>
              </label>
              <label class="filter__color-label">
                <input class="filter__color-input" type="checkbox">
                <span class="filter__color-checkbox" style="background-color: #971E34;"></span>
              </label>
              <label class="filter__color-label">
                <input class="filter__color-input" type="checkbox">
                <span class="filter__color-checkbox" style="background-color: #CBA13E;"></span>
              </label>
              <label class="filter__color-label">
                <input class="filter__color-input" type="checkbox">
                <span class="filter__color-checkbox" style="background-color: #73513C;"></span>
              </label>
              <label class="filter__color-label">
                <input class="filter__color-input" type="checkbox">
                <span class="filter__color-checkbox" style="background-color: #DAB1B1;"></span>
              </label>
              <label class="filter__color-label">
                <input class="filter__color-input" type="checkbox">
                <span class="filter__color-checkbox" style="background-color: #2B9FA7;"></span>
              </label>
            </form>
          </div>
          <div class="filter__range filter__item">
            <div class="filter__top">
              <h3 class="filter__title">Price Range</h3>
              <button class="filter__btn" type="button"><span></span></button>
            </div>

          </div>
          <div class="filter__about">
            <h3 class="filter__title">About Dresses</h3>
            <p class="filter__text">
              Every day we’re gonna be dropping the latest trends to help you nail every Summer sitch. Whether it’s a graduation, your mate's wedding, or just a cute day at the races with the gals, our occasion dresses have got you covered. Not looking for something fancy? No stress. We’ve got day dresses for days (aka bodycon dresses, t-shirt dresses, oversized shirt dresses).
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>