<section class="advantages">
  <div class="container">
    <div class="advantages__wrapper">
      <ul class="advantages__list">
        <li class="advantages__list-item">
          <a class="advantages__list-link" href="#">
            Гарантированные пошлины и налоги
          </a>
        </li>
        <li class="advantages__list-item">
          <a class="advantages__list-link" href="#">
            Бесплатная Экспресс-доставка
          </a>
        </li>
        <li class="advantages__list-item">
          <a class="advantages__list-link" href="#">
            Любовь клиентов
          </a>
        </li>
        <li class="advantages__list-item">
          <a class="advantages__list-link" href="#">
            Легкая возврат
          </a>
        <li class="advantages__list-item">
          <a class="advantages__list-link" href="#">
            Безопасный платеж
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>