<section class="some-wear">
  <div class="container">
    <div class="some-wear__wrapper">
      <div class="some-wear__aside">
        <div class="some-wear__filter filter-category">
          <h3 class="filter-category__title">Shop Some Wear:</h3>
          <form class="filter-category__form" action="#">
            <label class="filter-category__label">
              <input class="filter-category__input" type="checkbox">
              <span class="filter-category__checkbox"></span>
              <span class="filter-category__text">Best sellers</span>
            </label>
            <label class="filter-category__label">
              <input class="filter-category__input" type="checkbox">
              <span class="filter-category__checkbox"></span>
              <span class="filter-category__text">NEW Arivals</span>
            </label>
            <label class="filter-category__label">
              <input class="filter-category__input" type="checkbox">
              <span class="filter-category__checkbox"></span>
              <span class="filter-category__text">TOP women</span>
            </label>
            <label class="filter-category__label">
              <input class="filter-category__input" type="checkbox">
              <span class="filter-category__checkbox"></span>
              <span class="filter-category__text">Collection: Summer</span>
            </label>
            <label class="filter-category__label">
              <input class="filter-category__input" type="checkbox">
              <span class="filter-category__checkbox"></span>
              <span class="filter-category__text">Collection: spring</span>
            </label>
            <label class="filter-category__label">
              <input class="filter-category__input" type="checkbox">
              <span class="filter-category__checkbox"></span>
              <span class="filter-category__text">TREnding</span>
            </label>
          </form>
        </div>
      </div>
      <div class="some-wear__content">
        <div class="some-wear__cards">
          <a class="some-wear__card card-product" href="#">
            <div class="card-product__img">
              <img src="images/some-wear/01.jpeg" alt="dres">
            </div>
            <div class="card-product__category">
              TOP women
            </div>
            <p class="card-product__text">
              Angels malu zip jeans slim black used
            </p>
            <p class="card-product__price">139,00 EUR</p>
          </a>
          <a class="some-wear__card card-product" href="#">
            <div class="card-product__img">
              <img src="images/some-wear/02.jpeg" alt="dres">
            </div>
            <div class="card-product__category">
              TOP women
            </div>
            <p class="card-product__text">
              Angels malu zip jeans slim black used
            </p>
            <p class="card-product__price">235,00 EUR</p>
          </a>
          <a class="some-wear__card card-product" href="#">
            <div class="card-product__img">
              <img src="images/some-wear/03.jpeg" alt="dres">
            </div>
            <div class="card-product__category">
              TOP women
            </div>
            <p class="card-product__text">
              Angels malu zip jeans slim black used
            </p>
            <p class="card-product__price">90,00 EUR</p>
          </a>
          <a class="some-wear__card card-product" href="#">
            <div class="card-product__img">
              <span class="card-product__sale">-30%</span>
              <img src="images/some-wear/04.jpeg" alt="dres">
            </div>
            <div class="card-product__category">
              TOP women
            </div>
            <p class="card-product__text">
              Angels malu zip jeans slim black used
            </p>
            <p class="card-product__price card-product__price--sale">
              139,00 EUR<span>119,00 EUR</span>
            </p>
          </a>
          <a class="some-wear__card card-product" href="#">
            <div class="card-product__img">
              <img src="images/some-wear/05.jpeg" alt="dres">
            </div>
            <div class="card-product__category">
              TOP women
            </div>
            <p class="card-product__text">
              Angels malu zip jeans slim black used
            </p>
            <p class="card-product__price">139,00 EUR</p>
          </a>
          <a class="some-wear__card card-product" href="#">
            <div class="card-product__img">
              <span class="card-product__sale">-30%</span>
              <img src="images/some-wear/06.jpeg" alt="dres">
            </div>
            <div class="card-product__category">
              TOP women
            </div>
            <p class="card-product__text">
              Angels malu zip jeans slim black used
            </p>
            <p class="card-product__price card-product__price--sale">
              139,00 EUR<span>119,00 EUR</span>
            </p>
          </a>
          <a class="some-wear__card card-product" href="#">
            <div class="card-product__img">
              <img src="images/some-wear/07.jpeg" alt="dres">
            </div>
            <div class="card-product__category">
              TOP women
            </div>
            <p class="card-product__text">
              Angels malu zip jeans slim black used
            </p>
            <p class="card-product__price">139,00 EUR</p>
          </a>
          <a class="some-wear__card card-product" href="#">
            <div class="card-product__img">
              <img src="images/some-wear/08.jpeg" alt="dres">
            </div>
            <div class="card-product__category">
              TOP women
            </div>
            <p class="card-product__text">
              Angels malu zip jeans slim black used
            </p>
            <p class="card-product__price">139,00 EUR</p>
          </a>
        </div>
        <a class="some-wear__btn" href="#">Load more</a>
      </div>
    </div>
  </div>
</section>