<section class="some-wear">
  <div class="container">
    <div class="some-wear__wrapper">
      <div class="some-wear__aside">
        <h2 class="some-wear__title">
          Популярная одежда:
        </h2>
        <form class="some-wear__form some-wear-form" action="#" method="post">
          <label class="some-wear-form__label">
            <input class="some-wear-form__input" type="checkbox" name="">
            <span class="some-wear-form__checkbox"></span>Бестселлеры
          </label>
          <label class="some-wear-form__label">
            <input class="some-wear-form__input" type="checkbox" name="">
            <span class="some-wear-form__checkbox"></span>НОВЫЕ поступления
          </label>
          <label class="some-wear-form__label">
            <input class="some-wear-form__input" type="checkbox" name="">
            <span class="some-wear-form__checkbox"></span>топ для женщин
          </label>
          <label class="some-wear-form__label">
            <input class="some-wear-form__input" type="checkbox" name="">
            <span class="some-wear-form__checkbox"></span>коллекция: лето
          </label>
          <label class="some-wear-form__label">
            <input class="some-wear-form__input" type="checkbox" name="">
            <span class="some-wear-form__checkbox"></span>коллекция: весна
          </label>
          <label class="some-wear-form__label">
            <input class="some-wear-form__input" type="checkbox" name="">
            <span class="some-wear-form__checkbox"></span>трендовое
          </label>
        </form>
      </div>
      <div class="some-wear__content">
        <a class="product-card" href="#">
          <picture class="product-card__img">
            <source type="image/avif" srcset="images/product-card/01@3x.avif,
                                              images/product-card/01@2x.avif,
                                              images/product-card/01.avif">
            <source type="image/webp" srcset="images/product-card/01@3x.webp,
                                              images/product-card/01@2x.webp,
                                              images/product-card/01.webp">
            <source type="image/jpg" srcset="images/product-card/01@3x.jpg,
                                             images/product-card/01@2x.jpg">
            <img src="images/product-card/01.jpg" alt="платье">
          </picture>
          <p class="product-card__category">топ женское</p>
          <p class="product-card__text">Джинсы Angels malu на молнии узкие черные б/у</p>
          <p class="product-card__price">139,00 EUR</p>
        </a>
        <a class="product-card" href="#">
          <picture class="product-card__img">
            <source type="image/avif" srcset="images/product-card/02@3x.avif,
                                              images/product-card/02@2x.avif,
                                              images/product-card/02.avif">
            <source type="image/webp" srcset="images/product-card/02@3x.webp,
                                              images/product-card/02@2x.webp,
                                              images/product-card/02.webp">
            <source type="image/jpg" srcset="images/product-card/21@3x.jpg,
                                             images/product-card/02@2x.jpg">
            <img src="images/product-card/02.jpg" alt="платье">
          </picture>
          <p class="product-card__category">топ женское</p>
          <p class="product-card__text">Джинсы Angels malu на молнии узкие черные б/у</p>
          <p class="product-card__price">235,00 EUR</p>
        </a>
        <a class="product-card" href="#">
          <picture class="product-card__img">
            <source type="image/avif" srcset="images/product-card/03@3x.avif,
                                              images/product-card/03@2x.avif,
                                              images/product-card/03.avif">
            <source type="image/webp" srcset="images/product-card/03@3x.webp,
                                              images/product-card/03@2x.webp,
                                              images/product-card/03.webp">
            <source type="image/jpg" srcset="images/product-card/03@3x.jpg,
                                             images/product-card/03@2x.jpg">
            <img src="images/product-card/03.jpg" alt="платье">
          </picture>
          <p class="product-card__category">топ женское</p>
          <p class="product-card__text">Джинсы Angels malu на молнии узкие черные б/у</p>
          <p class="product-card__price">90,00 EUR</p>
        </a>
        <a class="product-card" href="#">
          <picture class="product-card__img">
            <source type="image/avif" srcset="images/product-card/04@3x.avif,
                                              images/product-card/04@2x.avif,
                                              images/product-card/04.avif">
            <source type="image/webp" srcset="images/product-card/04@3x.webp,
                                              images/product-card/04@2x.webp,
                                              images/product-card/04.webp">
            <source type="image/jpg" srcset="images/product-card/04@3x.jpg,
                                             images/product-card/04@2x.jpg">
            <img src="images/product-card/04.jpg" alt="платье">
          </picture>
          <span class="product-card__sale">-30%</span>
          <p class="product-card__category">топ женское</p>
          <p class="product-card__text">Джинсы Angels malu на молнии узкие черные б/у</p>
          <p class="product-card__price product-card__price--sale">139,00 EUR <span>119,00 EUR</span></p>
        </a>
        <a class="product-card" href="#">
          <picture class="product-card__img">
            <source type="image/avif" srcset="images/product-card/05@3x.avif,
                                                      images/product-card/05@2x.avif,
                                                      images/product-card/05.avif">
            <source type="image/webp" srcset="images/product-card/05@3x.webp,
                                                      images/product-card/05@2x.webp,
                                                      images/product-card/05.webp">
            <source type="image/jpg" srcset="images/product-card/05@3x.jpg,
                                                     images/product-card/05@2x.jpg">
            <img src="images/product-card/05.jpg" alt="платье">
          </picture>
          <p class="product-card__category">топ женское</p>
          <p class="product-card__text">Джинсы Angels malu на молнии узкие черные б/у</p>
          <p class="product-card__price">90,00 EUR</p>
        </a>
        <a class="product-card" href="#">
          <picture class="product-card__img">
            <source type="image/avif" srcset="images/product-card/06@3x.avif,
                                                      images/product-card/06@2x.avif,
                                                      images/product-card/06.avif">
            <source type="image/webp" srcset="images/product-card/06@3x.webp,
                                                      images/product-card/06@2x.webp,
                                                      images/product-card/06.webp">
            <source type="image/jpg" srcset="images/product-card/06@3x.jpg,
                                                     images/product-card/06@2x.jpg">
            <img src="images/product-card/06.jpg" alt="платье">
          </picture>
          <span class="product-card__sale">-30%</span>
          <p class="product-card__category">топ женское</p>
          <p class="product-card__text">Джинсы Angels malu на молнии узкие черные б/у</p>
          <p class="product-card__price product-card__price--sale">139,00 EUR <span>119,00 EUR</span></p>
        </a>
        <a class="product-card" href="#">
          <picture class="product-card__img">
            <source type="image/avif" srcset="images/product-card/02@3x.avif,
                                                      images/product-card/02@2x.avif,
                                                      images/product-card/02.avif">
            <source type="image/webp" srcset="images/product-card/02@3x.webp,
                                                      images/product-card/02@2x.webp,
                                                      images/product-card/02.webp">
            <source type="image/jpg" srcset="images/product-card/02@3x.jpg,
                                                     images/product-card/02@2x.jpg">
            <img src="images/product-card/02.jpg" alt="платье">
          </picture>
          <p class="product-card__category">топ женское</p>
          <p class="product-card__text">Джинсы Angels malu на молнии узкие черные б/у</p>
          <p class="product-card__price">90,00 EUR</p>
        </a>
        <a class="product-card" href="#">
          <picture class="product-card__img">
            <source type="image/avif" srcset="images/product-card/07@3x.avif,
                                                      images/product-card/07@2x.avif,
                                                      images/product-card/07.avif">
            <source type="image/webp" srcset="images/product-card/07@3x.webp,
                                                      images/product-card/07@2x.webp,
                                                      images/product-card/07.webp">
            <source type="image/jpg" srcset="images/product-card/07@3x.jpg,
                                                     images/product-card/07@2x.jpg">
            <img src="images/product-card/07.jpg" alt="платье">
          </picture>
          <p class="product-card__category">топ женское</p>
          <p class="product-card__text">Джинсы Angels malu на молнии узкие черные б/у</p>
          <p class="product-card__price">90,00 EUR</p>
        </a>
        <a class="product-card" href="#">
          <picture class="product-card__img">
            <source type="image/avif" srcset="images/product-card/01@3x.avif,
                                              images/product-card/01@2x.avif,
                                              images/product-card/01.avif">
            <source type="image/webp" srcset="images/product-card/01@3x.webp,
                                              images/product-card/01@2x.webp,
                                              images/product-card/01.webp">
            <source type="image/jpg" srcset="images/product-card/01@3x.jpg,
                                             images/product-card/01@2x.jpg">
            <img src="images/product-card/01.jpg" alt="платье">
          </picture>
          <p class="product-card__category">топ женское</p>
          <p class="product-card__text">Джинсы Angels malu на молнии узкие черные б/у</p>
          <p class="product-card__price">139,00 EUR</p>
        </a>
        <a class="product-card" href="#">
          <picture class="product-card__img">
            <source type="image/avif" srcset="images/product-card/02@3x.avif,
                                              images/product-card/02@2x.avif,
                                              images/product-card/02.avif">
            <source type="image/webp" srcset="images/product-card/02@3x.webp,
                                              images/product-card/02@2x.webp,
                                              images/product-card/02.webp">
            <source type="image/jpg" srcset="images/product-card/21@3x.jpg,
                                             images/product-card/02@2x.jpg">
            <img src="images/product-card/02.jpg" alt="платье">
          </picture>
          <p class="product-card__category">топ женское</p>
          <p class="product-card__text">Джинсы Angels malu на молнии узкие черные б/у</p>
          <p class="product-card__price">235,00 EUR</p>
        </a>
        <a class="product-card" href="#">
          <picture class="product-card__img">
            <source type="image/avif" srcset="images/product-card/03@3x.avif,
                                              images/product-card/03@2x.avif,
                                              images/product-card/03.avif">
            <source type="image/webp" srcset="images/product-card/03@3x.webp,
                                              images/product-card/03@2x.webp,
                                              images/product-card/03.webp">
            <source type="image/jpg" srcset="images/product-card/03@3x.jpg,
                                             images/product-card/03@2x.jpg">
            <img src="images/product-card/03.jpg" alt="платье">
          </picture>
          <p class="product-card__category">топ женское</p>
          <p class="product-card__text">Джинсы Angels malu на молнии узкие черные б/у</p>
          <p class="product-card__price">90,00 EUR</p>
        </a>
        <a class="product-card" href="#">
          <picture class="product-card__img">
            <source type="image/avif" srcset="images/product-card/04@3x.avif,
                                              images/product-card/04@2x.avif,
                                              images/product-card/04.avif">
            <source type="image/webp" srcset="images/product-card/04@3x.webp,
                                              images/product-card/04@2x.webp,
                                              images/product-card/04.webp">
            <source type="image/jpg" srcset="images/product-card/04@3x.jpg,
                                             images/product-card/04@2x.jpg">
            <img src="images/product-card/04.jpg" alt="платье">
          </picture>
          <span class="product-card__sale">-30%</span>
          <p class="product-card__category">топ женское</p>
          <p class="product-card__text">Джинсы Angels malu на молнии узкие черные б/у</p>
          <p class="product-card__price product-card__price--sale">139,00 EUR <span>119,00 EUR</span></p>
        </a>
        <a class="product-card" href="#">
          <picture class="product-card__img">
            <source type="image/avif" srcset="images/product-card/05@3x.avif,
                                                      images/product-card/05@2x.avif,
                                                      images/product-card/05.avif">
            <source type="image/webp" srcset="images/product-card/05@3x.webp,
                                                      images/product-card/05@2x.webp,
                                                      images/product-card/05.webp">
            <source type="image/jpg" srcset="images/product-card/05@3x.jpg,
                                                     images/product-card/05@2x.jpg">
            <img src="images/product-card/05.jpg" alt="платье">
          </picture>
          <p class="product-card__category">топ женское</p>
          <p class="product-card__text">Джинсы Angels malu на молнии узкие черные б/у</p>
          <p class="product-card__price">90,00 EUR</p>
        </a>
        <a class="product-card" href="#">
          <picture class="product-card__img">
            <source type="image/avif" srcset="images/product-card/06@3x.avif,
                                                      images/product-card/06@2x.avif,
                                                      images/product-card/06.avif">
            <source type="image/webp" srcset="images/product-card/06@3x.webp,
                                                      images/product-card/06@2x.webp,
                                                      images/product-card/06.webp">
            <source type="image/jpg" srcset="images/product-card/06@3x.jpg,
                                                     images/product-card/06@2x.jpg">
            <img src="images/product-card/06.jpg" alt="платье">
          </picture>
          <span class="product-card__sale">-30%</span>
          <p class="product-card__category">топ женское</p>
          <p class="product-card__text">Джинсы Angels malu на молнии узкие черные б/у</p>
          <p class="product-card__price product-card__price--sale">139,00 EUR <span>119,00 EUR</span></p>
        </a>
        <a class="product-card" href="#">
          <picture class="product-card__img">
            <source type="image/avif" srcset="images/product-card/02@3x.avif,
                                                      images/product-card/02@2x.avif,
                                                      images/product-card/02.avif">
            <source type="image/webp" srcset="images/product-card/02@3x.webp,
                                                      images/product-card/02@2x.webp,
                                                      images/product-card/02.webp">
            <source type="image/jpg" srcset="images/product-card/02@3x.jpg,
                                                     images/product-card/02@2x.jpg">
            <img src="images/product-card/02.jpg" alt="платье">
          </picture>
          <p class="product-card__category">топ женское</p>
          <p class="product-card__text">Джинсы Angels malu на молнии узкие черные б/у</p>
          <p class="product-card__price">90,00 EUR</p>
        </a>
        <a class="product-card" href="#">
          <picture class="product-card__img">
            <source type="image/avif" srcset="images/product-card/07@3x.avif,
                                                      images/product-card/07@2x.avif,
                                                      images/product-card/07.avif">
            <source type="image/webp" srcset="images/product-card/07@3x.webp,
                                                      images/product-card/07@2x.webp,
                                                      images/product-card/07.webp">
            <source type="image/jpg" srcset="images/product-card/07@3x.jpg,
                                                     images/product-card/07@2x.jpg">
            <img src="images/product-card/07.jpg" alt="платье">
          </picture>
          <p class="product-card__category">топ женское</p>
          <p class="product-card__text">Джинсы Angels malu на молнии узкие черные б/у</p>
          <p class="product-card__price">90,00 EUR</p>
        </a>
        <button class="show-more page-btn">Показать еще</button>
      </div>
    </div>
  </div>
</section>