<section class="more-info-banner more-info-banner--left more-info-banner--white">
  <div class="container">
    <div class="more-info-banner__wrapper" style="background-image: url(images/more-info-banner/bg-04.jpg)">
      <h2 class="more-info-banner__title">шопинг без ограничений.</h2>
      <p class="more-info-banner__text">
        Вы можете выбрать оптимальный для вас вариант, и не имеет значения, находитесь ли вы в Праге или
        Сан-Франциско.
        Мы
        доставим вашу покупку в любое место!
      </p>
      <a class="more-info-banner__btn page-btn" href="#">к покупкам</a>
    </div>
  </div>
</section>