<section class="more-info-banner more-info-banner--left" style='background-image: image-set(url("images/more-info-banner/bg-01.avif") type("image/avif"), 
url("images/more-info-banner/bg-01.webp") type("image/webp"),
url("images/more-info-banner/bg-01.jpg") type("image/jpg"));'>
  <div class="container">
    <div class="more-info-banner__wrapper">
      <h2 class="more-info-banner__title">шопинг без ограничений.</h2>
      <p class="more-info-banner__text">
        Вы можете выбрать оптимальный для вас вариант, и не имеет значения, находитесь ли вы в Праге или Сан-Франциско.
        Мы
        доставим вашу покупку в любое место!
      </p>
      <a class="more-info-banner__btn page-btn" href="#">к покупкам</a>
    </div>
  </div>
</section>