<section class="more-info-banner more-info-banner--right">
  <div class="container">
    <div class="more-info-banner__wrapper">
      <picture class="more-info-banner__img">
        <source type="image/avif" srcset="images/more-info-banner/bg-02@3x.avif 3x,
                                                images/more-info-banner/bg-02@2x.avif 2x,
                                                images/more-info-banner/bg-02.avif">
        <source type="image/webp" srcset="images/more-info-banner/bg-02@3x.webp 3x,
                                                images/more-info-banner/bg-02@2x.webp 2x,
                                                images/more-info-banner/bg-02.webp">
        <source type="image/png" srcset="images/more-info-banner/bg-02@3x.png 3x,
                                               images/more-info-banner/bg-02@2x.png 2x">
        <img src="images/more-info-banner/bg-02.png" alt="стены">
      </picture>
      <div class="more-info-banner__content">
        <h2 class="more-info-banner__title">ИССЛЕДУЙТЕ лучшую версию себя.</h2>
        <p class="more-info-banner__text">
          Вы можете выбрать оптимальный для вас вариант, и не имеет значения, находитесь ли вы в Праге или
          Сан-Франциско.
        </p>
        <a class="more-info-banner__btn page-btn" href="#">к покупкам</a>
      </div>
    </div>
  </div>
</section>