<section class="product-details">
  <div class="product-details__wrapper">
    <div class="product-details__inner">
      <div class="product-details__sliders product-sliders">
        <div class="product-sliders__vertical">
          <div class="product-sliders__vertical-wrapper swiper-wrapper">
            <div class="product-sliders__vertical-slide swiper-slide">
              <img src="images/product-details/01.jpg" alt="dres">
            </div>
            <div class="product-sliders__vertical-slide swiper-slide">
              <img src="images/product-details/02.jpg" alt="dres">
            </div>
            <div class="product-sliders__vertical-slide swiper-slide">
              <img src="images/product-details/03.jpg" alt="dres">
            </div>
          </div>
        </div>
        <div class="product-sliders__horizontal">
          <div class="product-sliders__horizontal-wrapper swiper-wrapper">
            <div class="product-sliders__horizontal-slide swiper-slide">
              <img src="images/product-details/01.jpg" alt="dres">
            </div>
            <div class="product-sliders__horizontal-slide swiper-slide">
              <img src="images/product-details/02.jpg" alt="dres">
            </div>
            <div class="product-sliders__horizontal-slide swiper-slide">
              <img src="images/product-details/03.jpg" alt="dres">
            </div>
          </div>
        </div>
      </div>
      <div class="product-details__content">
        <div class="product-details__breadcrumbs breadcrumbs">
          <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="#">Home</a>
            </li>
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="#">Womens Dress</a>
            </li>
            <li class="breadcrumbs__item">
              <span class="breadcrumbs__link" href="#">Angels malu</span>
            </li>
          </ul>
        </div>
        <span class="product-details__brend" style="background-image: url(images/product-details/brend.png);"></span>
        <h2 class="product-details__title">
          Women Black Checked Fit and Flare Dress
        </h2>
        <form class="product-details__form" action="#">
          <div class="product-details__form-item">
            <h3 class="product-details__form-title">Select Color</h3>
            <div class="product-details__form-box">
              <label class="product-details__form-label">
                <input class="product-details__form-input" type="radio" name="dress-color">
                <span class="product-details__form-checkbox-color" style="background-color: #24426A;"></span>
              </label>
              <label class="product-details__form-label">
                <input class="product-details__form-input" type="radio" name="dress-color">
                <span class="product-details__form-checkbox-color" style="background-color: #F3ECE2;"></span>
              </label>
              <label class="product-details__form-label">
                <input class="product-details__form-input" type="radio" name="dress-color">
                <span class="product-details__form-checkbox-color" style="background-color: #666689;"></span>
              </label>
            </div>
          </div>
          <div class="product-details__form-item">
            <div class="product-details__form-top">
              <h3 class="product-details__form-title">Select size (Inches)</h3>
              <a class="product-details__form-link" href="#">Size guide</a>
            </div>
            <div class="product-details__form-box product-details__form-box--grid">
              <label class="product-details__form-label">
                <input class="product-details__form-input" type="checkbox">
                <span class="product-details__form-checkbox">osfa</span>
              </label>
              <label class="product-details__form-label">
                <input class="product-details__form-input" type="checkbox">
                <span class="product-details__form-checkbox">w26</span>
              </label>
              <label class="product-details__form-label">
                <input class="product-details__form-input" type="checkbox">
                <span class="product-details__form-checkbox">w27</span>
              </label>
              <label class="product-details__form-label">
                <input class="product-details__form-input" type="checkbox">
                <span class="product-details__form-checkbox">w28</span>
              </label>
              <label class="product-details__form-label">
                <input class="product-details__form-input" type="checkbox">
                <span class="product-details__form-checkbox product-details__form-checkbox--none">w29</span>
              </label>
              <label class="product-details__form-label">
                <input class="product-details__form-input" type="checkbox">
                <span class="product-details__form-checkbox">w30</span>
              </label>
              <label class="product-details__form-label">
                <input class="product-details__form-input" type="checkbox">
                <span class="product-details__form-checkbox">w31</span>
              </label>
              <label class="product-details__form-label">
                <input class="product-details__form-input" type="checkbox">
                <span class="product-details__form-checkbox">w32</span>
              </label>
              <label class="product-details__form-label">
                <input class="product-details__form-input" type="checkbox">
                <span class="product-details__form-checkbox">w33</span>
              </label>
              <label class="product-details__form-label">
                <input class="product-details__form-input" type="checkbox">
                <span class="product-details__form-checkbox product-details__form-checkbox--none">w34</span>
              </label>
              <label class="product-details__form-label">
                <input class="product-details__form-input" type="checkbox">
                <span class="product-details__form-checkbox">w35</span>
              </label>
              <label class="product-details__form-label">
                <input class="product-details__form-input" type="checkbox">
                <span class="product-details__form-checkbox">w36</span>
              </label>
              <label class="product-details__form-label">
                <input class="product-details__form-input" type="checkbox">
                <span class="product-details__form-checkbox">w38</span>
              </label>
              <label class="product-details__form-label">
                <input class="product-details__form-input" type="checkbox">
                <span class="product-details__form-checkbox">w40</span>
              </label>
              <label class="product-details__form-label">
                <input class="product-details__form-input" type="checkbox">
                <span class="product-details__form-checkbox">w42</span>
              </label>
              <label class="product-details__form-label">
                <input class="product-details__form-input" type="checkbox">
                <span class="product-details__form-checkbox">w44</span>
              </label>
              <label class="product-details__form-label">
                <input class="product-details__form-input" type="checkbox">
                <span class="product-details__form-checkbox">w46</span>
              </label>
              <label class="product-details__form-label">
                <input class="product-details__form-input" type="checkbox">
                <span class="product-details__form-checkbox">w48</span>
              </label>
              <label class="product-details__form-label">
                <input class="product-details__form-input" type="checkbox">
                <span class="product-details__form-checkbox product-details__form-checkbox--none">w50</span>
              </label>
              <label class="product-details__form-label">
                <input class="product-details__form-input" type="checkbox">
                <span class="product-details__form-checkbox">w52</span>
              </label>
            </div>
          </div>
          <div class="product-details__form-item">

          </div>
          <div class="product-details__form-buttons">
            <button class="product-details__form-button product-details__form-add" type="button">Add to bag</button>
            <button class="product-details__form-button product-details__form-save" type="button"><img
                src="images/icons/fav-blacke.svg" alt="">save</button>
          </div>
        </form>
        <ul class="product-details__links">
          <li class="product-details__link product-details__link--check">
            <a href="#">Free shipping</a>
          </li>
          <li class="product-details__link">
            <span>product code:</span>
            <a href="#">
              RFKK1024
            </a>
          </li>
          <li class="product-details__link">
            <span>TAGS:</span>
            <a href="#">NEW arrivals</a>
            <a href="#">Top women</a>
          </li>
        </ul>
      </div>
    </div>
    <ul class="product-details__social">
      <li class="product-details__social-title">share:</li>
      <li class="product-details__social-item">
        <a class="product-details__social-link" href="#">
          <img src="images/icons/facebook.png" alt="">
        </a>
      </li>
      <li class="product-details__social-item">
        <a class="product-details__social-link" href="#">
          <img src="images/icons/twitter.png" alt="">
        </a>
      </li>
      <li class="product-details__social-item">
        <a class="product-details__social-link" href="#">
          <img src="images/icons/printerest.png" alt="">
        </a>
      </li>
      <li class="product-details__social-item">
        <a class="product-details__social-link" href="#">
          <img src="images/icons/instagram.png" alt="">
        </a>
      </li>
    </ul>
  </div>

</section>