<section class="product-details">
  <div class="product-details__wrapper">
    <div class="product-details__inner">
      <div class="product-details__sliders product-sliders">
        <div class="product-sliders__vertical">
          <div class="product-sliders__vertical-wrapper swiper-wrapper">
            <div class="product-sliders__vertical-slide swiper-slide">
              <img src="images/product-details/01.jpg" alt="dres">
            </div>
            <div class="product-sliders__vertical-slide swiper-slide">
              <img src="images/product-details/02.jpg" alt="dres">
            </div>
            <div class="product-sliders__vertical-slide swiper-slide">
              <img src="images/product-details/03.jpg" alt="dres">
            </div>
          </div>
        </div>
        <div class="product-sliders__horizontal">
          <div class="product-sliders__horizontal-wrapper swiper-wrapper">
            <div class="product-sliders__horizontal-slide swiper-slide">
              <img src="images/product-details/01.jpg" alt="dres">
            </div>
            <div class="product-sliders__horizontal-slide swiper-slide">
              <img src="images/product-details/02.jpg" alt="dres">
            </div>
            <div class="product-sliders__horizontal-slide swiper-slide">
              <img src="images/product-details/03.jpg" alt="dres">
            </div>
          </div>
        </div>
      </div>
      <div class="product-details__content">
        <div class="product-details__breadcrumbs breadcrumbs">
          <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="#">Home</a>
            </li>
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="#">Womens Dress</a>
            </li>
            <li class="breadcrumbs__item">
              <span class="breadcrumbs__link" href="#">Angels malu</span>
            </li>
          </ul>
        </div>
        <span class="product-details__brend" style="background-image: url(images/product-details/brend.png);"></span>
        <h2 class="product-details__title">
          Women Black Checked Fit and Flare Dress
        </h2>
        <form class="product-details__form" action="#">
          <div class="product-details__form-item">
            <h3 class="product-details__form-title">Select Color</h3>
            <div class="product-details__form-box">
              <label class="product-details__form-label">
                <input class="product-details__form-input" type="radio" name="dress-color">
                <span class="product-details__form-checkbox-color" style="background-color: #24426A;"></span>
              </label>
              <label class="product-details__form-label">
                <input class="product-details__form-input" type="radio" name="dress-color">
                <span class="product-details__form-checkbox-color" style="background-color: #F3ECE2;"></span>
              </label>
              <label class="product-details__form-label">
                <input class="product-details__form-input" type="radio" name="dress-color">
                <span class="product-details__form-checkbox-color" style="background-color: #666689;"></span>
              </label>
            </div>
          </div>
          <div class="product-details__form-item">
            <div class="product-details__form-top">
              <h3 class="product-details__form-title">Select size (Inches)</h3>
              <a class="product-details__form-link" href="#">Size guide</a>
            </div>
            <div class="product-details__form-box product-details__form-box--grid">
              <label class="product-details__form-label">
                <input class="product-details__form-input" type="checkbox">
                <span class="product-details__form-checkbox">osfa</span>
              </label>
              <label class="product-details__form-label">
                <input class="product-details__form-input" type="checkbox">
                <span class="product-details__form-checkbox">w26</span>
              </label>
              <label class="product-details__form-label">
                <input class="product-details__form-input" type="checkbox">
                <span class="product-details__form-checkbox">w27</span>
              </label>
              <label class="product-details__form-label">
                <input class="product-details__form-input" type="checkbox">
                <span class="product-details__form-checkbox">w28</span>
              </label>
              <label class="product-details__form-label">
                <input class="product-details__form-input" type="checkbox">
                <span class="product-details__form-checkbox product-details__form-checkbox--none">w29</span>
              </label>
              <label class="product-details__form-label">
                <input class="product-details__form-input" type="checkbox">
                <span class="product-details__form-checkbox">w30</span>
              </label>
              <label class="product-details__form-label">
                <input class="product-details__form-input" type="checkbox">
                <span class="product-details__form-checkbox">w31</span>
              </label>
              <label class="product-details__form-label">
                <input class="product-details__form-input" type="checkbox">
                <span class="product-details__form-checkbox">w32</span>
              </label>
              <label class="product-details__form-label">
                <input class="product-details__form-input" type="checkbox">
                <span class="product-details__form-checkbox">w33</span>
              </label>
              <label class="product-details__form-label">
                <input class="product-details__form-input" type="checkbox">
                <span class="product-details__form-checkbox product-details__form-checkbox--none">w34</span>
              </label>
              <label class="product-details__form-label">
                <input class="product-details__form-input" type="checkbox">
                <span class="product-details__form-checkbox">w35</span>
              </label>
              <label class="product-details__form-label">
                <input class="product-details__form-input" type="checkbox">
                <span class="product-details__form-checkbox">w36</span>
              </label>
              <label class="product-details__form-label">
                <input class="product-details__form-input" type="checkbox">
                <span class="product-details__form-checkbox">w38</span>
              </label>
              <label class="product-details__form-label">
                <input class="product-details__form-input" type="checkbox">
                <span class="product-details__form-checkbox">w40</span>
              </label>
              <label class="product-details__form-label">
                <input class="product-details__form-input" type="checkbox">
                <span class="product-details__form-checkbox">w42</span>
              </label>
              <label class="product-details__form-label">
                <input class="product-details__form-input" type="checkbox">
                <span class="product-details__form-checkbox">w44</span>
              </label>
              <label class="product-details__form-label">
                <input class="product-details__form-input" type="checkbox">
                <span class="product-details__form-checkbox">w46</span>
              </label>
              <label class="product-details__form-label">
                <input class="product-details__form-input" type="checkbox">
                <span class="product-details__form-checkbox">w48</span>
              </label>
              <label class="product-details__form-label">
                <input class="product-details__form-input" type="checkbox">
                <span class="product-details__form-checkbox product-details__form-checkbox--none">w50</span>
              </label>
              <label class="product-details__form-label">
                <input class="product-details__form-input" type="checkbox">
                <span class="product-details__form-checkbox">w52</span>
              </label>
            </div>
          </div>
          <div class="product-details__form-item">
            <!-- цена за еденицу задается через дата атрибут -->
            <div class="product-details__form-quantity" data-price="90">
              <div class="quantity">
                <p class="quantity__text">QUANTITY</p>
                <div class="quantity__control">
                  <button class="quantity__btn minus">−</button>
                  <input class="quantity__input" type="text" id="quantity" value="1" readonly>
                  <button class="quantity__btn plus">+</button>
                </div>
              </div>
              <div class="quantity__total">
                <p class="quantity__text">PRICE TOTAL</p>
                <div class="quantity__total-price">90,00 EUR</div>
              </div>
            </div>

          </div>
          <div class="product-details__form-buttons">
            <button class="product-details__form-button product-details__form-add" type="button">Add to bag</button>
            <button class="product-details__form-button product-details__form-save" type="button"><img
                src="images/icons/fav-blacke.svg" alt="">save</button>
          </div>
        </form>
        <ul class="product-details__links">
          <li class="product-details__link product-details__link--check">
            <a href="#">Free shipping</a>
          </li>
          <li class="product-details__link">
            <span>product code:</span>
            <a href="#">
              RFKK1024
            </a>
          </li>
          <li class="product-details__link">
            <span>TAGS:</span>
            <a href="#">NEW arrivals</a>
            <a href="#">Top women</a>
          </li>
        </ul>
      </div>
    </div>
    <ul class="product-details__social">
      <li class="product-details__social-title">share:</li>
      <li class="product-details__social-item">
        <a class="product-details__social-link" href="#">
          <img src="images/icons/facebook.png" alt="">
        </a>
      </li>
      <li class="product-details__social-item">
        <a class="product-details__social-link" href="#">
          <img src="images/icons/twitter.png" alt="">
        </a>
      </li>
      <li class="product-details__social-item">
        <a class="product-details__social-link" href="#">
          <img src="images/icons/printerest.png" alt="">
        </a>
      </li>
      <li class="product-details__social-item">
        <a class="product-details__social-link" href="#">
          <img src="images/icons/instagram.png" alt="">
        </a>
      </li>
    </ul>
    <div class="product-details__spoilers product-spoilers">
      <div class="product-spoilers__item" data-open="true">
        <h3 class="product-spoilers__title">Details</h3>
        <div class="product-spoilers__content">
          <h4>ABOUT PRODUCT</h4>
          <p>
            Cool off this summer in the Mini Ruffle Smocked Tank Top from our very own LA Hearts. This tank features a
            smocked body, adjustable straps, scoop neckline, ruffled hems, and a cropped fit.
          </p>
          <h4>ADVANTAGES</h4>
          <ul>
            <li>Smocked body</li>
            <li>Adjustable straps</li>
            <li>Scoop neckline</li>
            <li>Ruffled hems</li>
            <li>Cropped length</li>
            <li>Model is wearing a small</li>
            <li>100% rayon</li>
            <li>Machine washable</li>
          </ul>
          <h4>ADVANTAGES</h4>
          <ul>
            <li>Smocked body</li>
            <li>Adjustable straps</li>
            <li>Scoop neckline</li>
          </ul>
          <h4>SHIPPING</h4>
          <p>
            We offer Free Standard Shipping for all orders over $75 to the 50 states and the District of Columbia. The
            minimum order
            value must be $75 before taxes, shipping and handling. Shipping fees are non-refundable.
          </p>
          <p>Please allow up to 2 business days (excluding weekends, holidays, and sale days) to process your order.</p>
          <p>Processing Time + Shipping Time = Delivery Time</p>
        </div>
      </div>
      <div class="product-spoilers__item">
        <h3 class="product-spoilers__title">Other information</h3>
        <div class="product-spoilers__content">
          <h4>Other information</h4>
          <p>
            Cool off this summer in the Mini Ruffle Smocked Tank Top from our very own LA Hearts. This tank features a
            smocked body, adjustable straps, scoop neckline, ruffled hems, and a cropped fit.
          </p>
          <h4>ADVANTAGES</h4>
          <ul>
            <li>Smocked body</li>
            <li>Adjustable straps</li>
            <li>Scoop neckline</li>
            <li>Ruffled hems</li>
            <li>Cropped length</li>
            <li>Model is wearing a small</li>
            <li>100% rayon</li>
            <li>Machine washable</li>
          </ul>
          <h4>ADVANTAGES</h4>
          <ul>
            <li>Smocked body</li>
            <li>Adjustable straps</li>
            <li>Scoop neckline</li>
          </ul>
          <h4>SHIPPING</h4>
          <p>
            We offer Free Standard Shipping for all orders over $75 to the 50 states and the District of Columbia. The
            minimum order
            value must be $75 before taxes, shipping and handling. Shipping fees are non-refundable.
          </p>
          <p>Please allow up to 2 business days (excluding weekends, holidays, and sale days) to process your order.</p>
          <p>Processing Time + Shipping Time = Delivery Time</p>
        </div>
      </div>
      <div class="product-spoilers__item">
        <h3 class="product-spoilers__title">Another tab</h3>
        <div class="product-spoilers__content">
          <h4>Another tab</h4>
          <p>
            Cool off this summer in the Mini Ruffle Smocked Tank Top from our very own LA Hearts. This tank features a
            smocked body, adjustable straps, scoop neckline, ruffled hems, and a cropped fit.
          </p>
          <h4>ADVANTAGES</h4>
          <ul>
            <li>Smocked body</li>
            <li>Adjustable straps</li>
            <li>Scoop neckline</li>
            <li>Ruffled hems</li>
            <li>Cropped length</li>
            <li>Model is wearing a small</li>
            <li>100% rayon</li>
            <li>Machine washable</li>
          </ul>
          <h4>ADVANTAGES</h4>
          <ul>
            <li>Smocked body</li>
            <li>Adjustable straps</li>
            <li>Scoop neckline</li>
          </ul>
          <h4>SHIPPING</h4>
          <p>
            We offer Free Standard Shipping for all orders over $75 to the 50 states and the District of Columbia. The
            minimum order
            value must be $75 before taxes, shipping and handling. Shipping fees are non-refundable.
          </p>
          <p>Please allow up to 2 business days (excluding weekends, holidays, and sale days) to process your order.</p>
          <p>Processing Time + Shipping Time = Delivery Time</p>
        </div>
      </div>
    </div>
  </div>
  <div class="product-carousel__slider">
    <h2 class="product-carousel__title">You May Also Like</h2>
    <div class="slider-feature swiper">
      <div class="slider-feature__wrapper swiper-wrapper">
        <div class="slider-feature__item swiper-slide">
          <div class="card-product">
            <div class="card-product__img">
              <img src="images/product-carousel/01.jpeg" alt="dres">
            </div>
            <div class="card-product__category">
              TOP women
            </div>
            <p class="card-product__text">
              Angels malu zip jeans slim black used
            </p>
            <p class="card-product__price">139,00 EUR</p>
          </div>
        </div>
        <div class="slider-feature__item swiper-slide">
          <div class="card-product">
            <div class="card-product__img">
              <img src="images/product-carousel/02.jpeg" alt="dres">
            </div>
            <div class="card-product__category">
              TOP women
            </div>
            <p class="card-product__text">
              Angels malu zip jeans slim black used
            </p>
            <p class="card-product__price">139,00 EUR</p>
          </div>
        </div>
        <div class="slider-feature__item swiper-slide">
          <div class="card-product">
            <div class="card-product__img">
              <img src="images/product-carousel/03.jpeg" alt="dres">
            </div>
            <div class="card-product__category">
              TOP women
            </div>
            <p class="card-product__text">
              Angels malu zip jeans slim black used
            </p>
            <p class="card-product__price">139,00 EUR</p>
          </div>
        </div>
        <div class="slider-feature__item swiper-slide">
          <div class="card-product">
            <div class="card-product__img">
              <img src="images/product-carousel/04.jpeg" alt="dres">
            </div>
            <div class="card-product__category">
              TOP women
            </div>
            <p class="card-product__text">
              Angels malu zip jeans slim black used
            </p>
            <p class="card-product__price">139,00 EUR</p>
          </div>
        </div>
        <div class="slider-feature__item swiper-slide">
          <div class="card-product">
            <div class="card-product__img">
              <img src="images/product-carousel/05.jpeg" alt="dres">
            </div>
            <div class="card-product__category">
              TOP women
            </div>
            <p class="card-product__text">
              Angels malu zip jeans slim black used
            </p>
            <p class="card-product__price">139,00 EUR</p>
          </div>
        </div>
        <div class="slider-feature__item swiper-slide">
          <div class="card-product">
            <div class="card-product__img">
              <img src="images/product-carousel/05.jpeg" alt="dres">
            </div>
            <div class="card-product__category">
              TOP women
            </div>
            <p class="card-product__text">
              Angels malu zip jeans slim black used
            </p>
            <p class="card-product__price">139,00 EUR</p>
          </div>
        </div>
        <div class="slider-feature__item swiper-slide">
          <div class="card-product">
            <div class="card-product__img">
              <img src="images/product-carousel/05.jpeg" alt="dres">
            </div>
            <div class="card-product__category">
              TOP women
            </div>
            <p class="card-product__text">
              Angels malu zip jeans slim black used
            </p>
            <p class="card-product__price">139,00 EUR</p>
          </div>
        </div>
        <div class="slider-feature__item swiper-slide">
          <div class="card-product">
            <div class="card-product__img">
              <img src="images/product-carousel/01.jpeg" alt="dres">
            </div>
            <div class="card-product__category">
              TOP women
            </div>
            <p class="card-product__text">
              Angels malu zip jeans slim black used
            </p>
            <p class="card-product__price">139,00 EUR</p>
          </div>
        </div>
        <div class="slider-feature__item swiper-slide">
          <div class="card-product">
            <div class="card-product__img">
              <img src="images/product-carousel/02.jpeg" alt="dres">
            </div>
            <div class="card-product__category">
              TOP women
            </div>
            <p class="card-product__text">
              Angels malu zip jeans slim black used
            </p>
            <p class="card-product__price">139,00 EUR</p>
          </div>
        </div>
        <div class="slider-feature__item swiper-slide">
          <div class="card-product">
            <div class="card-product__img">
              <img src="images/product-carousel/03.jpeg" alt="dres">
            </div>
            <div class="card-product__category">
              TOP women
            </div>
            <p class="card-product__text">
              Angels malu zip jeans slim black used
            </p>
            <p class="card-product__price">139,00 EUR</p>
          </div>
        </div>
        <div class="slider-feature__item swiper-slide">
          <div class="card-product">
            <div class="card-product__img">
              <img src="images/product-carousel/04.jpeg" alt="dres">
            </div>
            <div class="card-product__category">
              TOP women
            </div>
            <p class="card-product__text">
              Angels malu zip jeans slim black used
            </p>
            <p class="card-product__price">139,00 EUR</p>
          </div>
        </div>
      </div>
      <div class="slider-feature-next"></div>
      <div class="slider-feature-prev"></div>
    </div>
  </div>
</section>