.product-details {
  max-width: rem(1390);
  margin: 0 auto;
  padding: rem(55) 0 rem(33);

  &__inner {
    display: flex;
    column-gap: rem(70);
  }

  &__sliders {
    display: flex;
    column-gap: rem(20);
  }

  &__social {
    display: flex;
    align-items: center;
    column-gap: rem(10);
    margin: rem(15) 0 0 rem(350);
  }

  &__social-title {
    @extend %Oswald-500;
    font-size: rem(12);
    text-transform: uppercase;
  }

  &__social-item {}

  &__social-link {}

  &__content {}

  &__breadcrumbs {
    &:not(:last-child) {
      margin-bottom: rem(25);
    }
  }

  &__brend {
    display: inline-block;
    width: rem(75);
    height: rem(35);
    background-color: #F0F2F2;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__title {
    @extend %Oswald-500;
    font-size: rem(48);
    line-height: rem(56);

    &:not(:last-child) {
      margin-bottom: rem(28);
    }
  }

  &__form {
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }

  &__form-item {
    &:not(:last-child) {
      margin-bottom: rem(30);
    }
  }

  &__form-title {
    @extend %Oswald-400;
    font-size: rem(14);
    line-height: rem(21);
    text-transform: uppercase;

    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }

  &__form-box {
    display: flex;
    gap: rem(15);
    flex-wrap: wrap;

    &--grid {
      gap: rem(10);
    }
  }

  &__form-label {
    input[type=radio]:checked+.product-details__form-checkbox-color {
      outline: 2px solid $black;
    }

    input[type=checkbox]:checked+.product-details__form-checkbox {
      outline: 2px solid $black;
      border-color: $white;
      color: $black;
    }
  }

  &__form-input {
    @extend %checkbox-hidden;
  }

  &__form-checkbox-color {
    display: inline-block;
    width: rem(23);
    height: rem(23);
    border: 3px solid $white;
    cursor: pointer;
  }

  &__form-top {
    display: flex;
    justify-content: space-between;
    max-width: rem(550);
  }

  &__form-link {
    @extend %Roboto-400;
    font-size: rem(14);
    line-height: rem(16);
    color: #0F6DB1;
    text-decoration: underline;
  }

  &__form-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(46);
    height: rem(46);
    border: 1px solid #C4C4C4;
    @extend %Oswald-400;
    font-size: rem(14);
    text-transform: uppercase;
    color: #828282;
    cursor: pointer;

    &--none {
      position: relative;
      z-index: 1;
      pointer-events: none;

      &::after {
        content: '';
        position: absolute;
        z-index: 2;
        top: rem(-10);
        left: rem(21);
        display: inline-block;
        width: rem(1);
        height: rem(63);
        background-color: #C4C4C4;
        transform: rotate(-45deg);
      }
    }
  }

  &__form-buttons {
    display: flex;
    align-items: center;
    column-gap: rem(20);

    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }

  &__form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(8);
    width: rem(221);
    height: rem(50);
    border: 2px solid $black;
    @extend %Oswald-500;
    font-size: rem(14);
    text-transform: uppercase;
  }

  &__form-add {
    background-color: $black;
    color: $white;
  }

  &__form-save {
    border-color: #C4C4C4;
    color: #3F3F3F;
    background-color: transparent;
  }

  &__links {
    display: flex;
    align-items: center;
    column-gap: rem(16);
  }

  &__link {
    @extend %Oswald-400;
    font-size: rem(12);
    text-transform: uppercase;
    color: #828282;

    span {
      @extend %Oswald-500;
    }

    a:not(:last-child)::after {
      content: ',';
    }
  }

  &__link--check {
    padding-left: rem(20);
    background-image: url('../images/icons/check-grey.svg');
    background-position: left center;
    background-repeat: no-repeat;
  }

  &__form-quantity {
    display: flex;
    column-gap: rem(24);
  }

  &__spoilers {
    max-width: rem(1242);
    margin: rem(38) auto rem(66);
  }
}

.quantity {
  &__text {
    @extend %Oswald-400;
    font-size: rem(14);
    line-height: rem(21);
    text-transform: uppercase;
    margin-bottom: rem(10);
  }

  &__control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: rem(120);
    height: rem(43);
    border: 1px solid #C4C4C4;
  }

  &__input {
    width: rem(30);
    height: 100%;
    border: none;
    text-align: center;
    @extend %Oswald-400;
    font-size: rem(16);
    line-height: rem(24);
  }

  &__btn {
    width: rem(45);
    height: 100%;
    border: none;
    font-size: rem(20);
    background-color: transparent;
    color: #C4C4C4;
  }

  &__total-price {
    margin-top: rem(15);
    @extend %Oswald-500;
    font-size: rem(26);
    text-transform: uppercase;
  }
}

.product-sliders {
  &__vertical {
    .swiper-slide-thumb-active {
      outline: 2px solid $black;
    }
  }

  &__vertical-wrapper {
    display: flex;
    flex-direction: column;
    gap: rem(20);
  }

  &__vertical-slide {
    width: rem(82);
    height: rem(102);
    border: 3px solid $white;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__horizontal {
    overflow: hidden;
    width: rem(642);
  }

  &__horizontal-wrapper {
    display: flex;
  }

  &__horizontal-slide {
    flex: 1 0 rem(642);
    height: rem(790);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.product-spoilers {
  &__item {
    position: relative;
    padding: rem(20) rem(25) 0 rem(25);
    background-color: #F8F9FB;

    &:not(:last-child) {
      margin-bottom: rem(10);
    }

    &._active {
      padding: rem(20) rem(25);
      .product-spoilers__content {
        max-height: rem(600);
      }

      .product-spoilers__title {
        border-bottom: 1px solid #C4C4C4;
        margin-bottom: rem(32);

        &::after {
          transform: rotate(0);
        }
      }
    }
  }

  &__title {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 2;

    padding: rem(5) 0 rem(24);
    @extend %Oswald-400;
    font-size: rem(24);
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      position: absolute;
      right: 0;
      display: inline-block;
      width: rem(16);
      height: rem(2);
      background-color: $gray;
    }

    &::after {
      transform: rotate(90deg);
      transition: all 0.3s ease 0s;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: rem(50);
    max-height: 0;
    overflow: hidden;

    h2,
    h3,
    h4,
    h5,
    h6 {
      max-width: calc(50% - rem(50));
      @extend %Oswald-400;
      font-size: rem(14);
      line-height: rem(25);
      text-transform: uppercase;

      &:not(:last-child) {
        margin-bottom: rem(10);
      }
    }

    p {
      max-width: calc(50% - rem(50));
      @extend %Roboto-400;
      font-size: rem(14);
      line-height: rem(20);

      &:not(:last-child) {
        margin-bottom: rem(15);
      }
    }

    ul:not([class]) {
      max-width: calc(50% - rem(50));
      margin-left: rem(-25);
      list-style-type: square;

      li {
        @extend %Roboto-400;
        font-size: rem(14);
        line-height: rem(28);
        color: #3F3F3F;

        &:not(:last-child) {
          margin-bottom: rem(5);
        }
      }

      &:not(:last-child) {
        margin-bottom: rem(20);
      }
    }
  }
}