<div class="barnds">
  <div class="container">
    <div class="barnds__wrapper">
      <h3 class="barnds__title">chose your brand</h3>
      <ul class="barnds__list">
        <li class="barnds__list-item">
          <a class="barnds__list-link" href="#">
            <img src="images/brands/01.png" alt="">
          </a>
        </li>
        <li class="barnds__list-item">
          <a class="barnds__list-link" href="#">
            <img src="images/brands/02.png" alt="">
          </a>
        </li>
        <li class="barnds__list-item">
          <a class="barnds__list-link" href="#">
            <img src="images/brands/03.png" alt="">
          </a>
        </li>
        <li class="barnds__list-item">
          <a class="barnds__list-link" href="#">
            <img src="images/brands/04.png" alt="">
          </a>
        </li>
        <li class="barnds__list-item">
          <a class="barnds__list-link" href="#">
            <img src="images/brands/05.png" alt="">
          </a>
        </li>
        <li class="barnds__list-item">
          <a class="barnds__list-link" href="#">
            <img src="images/brands/06.png" alt="">
          </a>
        </li>
        <li class="barnds__list-item">
          <a class="barnds__list-link" href="#">
            <img src="images/brands/07.png" alt="">
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>