<section class="brands">
  <div class="container">
    <div class="brands__wrapper">
      <h2 class="brands__title">Выбери свой брэнд</h2>
      <ul class="brands__list brands-list">
        <li class="brands-list__item">
          <a class="brands-list__link" href="#">
            <picture class="brands-list__img">
              <source type="image/avif" srcset="images/brands/01@3x.avif,
                                                images/brands/01@2x.avif,
                                                images/brands/01.avif">
              <source type="image/webp" srcset="images/brands/01@3x.webp,
                                                images/brands/01@2x.webp,
                                                images/brands/01.webp">
              <source type="image/png" srcset="images/brands/01@3x.png,
                                               images/brands/01@2x.png">
              <img src="images/brands/01.png" alt="брэнд">
            </picture>
          </a>
        </li>
        <li class="brands-list__item">
          <a class="brands-list__link" href="#">
            <picture class="brands-list__img">
              <source type="image/avif" srcset="images/brands/02@3x.avif,
                                                images/brands/02@2x.avif,
                                                images/brands/02.avif">
              <source type="image/webp" srcset="images/brands/02@3x.webp,
                                                images/brands/02@2x.webp,
                                                images/brands/02.webp">
              <source type="image/png" srcset="images/brands/02@3x.png,
                                               images/brands/02@2x.png">
              <img src="images/brands/02.png" alt="брэнд">
            </picture>
          </a>
        </li>
        <li class="brands-list__item">
          <a class="brands-list__link" href="#">
            <picture class="brands-list__img">
              <source type="image/avif" srcset="images/brands/03@3x.avif,
                                                images/brands/03@2x.avif,
                                                images/brands/03.avif">
              <source type="image/webp" srcset="images/brands/03@3x.webp,
                                                images/brands/03@2x.webp,
                                                images/brands/03.webp">
              <source type="image/png" srcset="images/brands/03@3x.png,
                                               images/brands/03@2x.png">
              <img src="images/brands/03.png" alt="брэнд">
            </picture>
          </a>
        </li>
        <li class="brands-list__item">
          <a class="brands-list__link" href="#">
            <picture class="brands-list__img">
              <source type="image/avif" srcset="images/brands/04@3x.avif,
                                                images/brands/04@2x.avif,
                                                images/brands/04.avif">
              <source type="image/webp" srcset="images/brands/04@3x.webp,
                                                images/brands/04@2x.webp,
                                                images/brands/04.webp">
              <source type="image/png" srcset="images/brands/04@3x.png,
                                               images/brands/04@2x.png">
              <img src="images/brands/04.png" alt="брэнд">
            </picture>
          </a>
        </li>
        <li class="brands-list__item">
          <a class="brands-list__link" href="#">
            <picture class="brands-list__img">
              <source type="image/avif" srcset="images/brands/05@3x.avif,
                                                images/brands/05@2x.avif,
                                                images/brands/05.avif">
              <source type="image/webp" srcset="images/brands/05@3x.webp,
                                                images/brands/05@2x.webp,
                                                images/brands/05.webp">
              <source type="image/png" srcset="images/brands/05@3x.png,
                                               images/brands/05@2x.png">
              <img src="images/brands/05.png" alt="брэнд">
            </picture>
          </a>
        </li>
        <li class="brands-list__item">
          <a class="brands-list__link" href="#">
            <picture class="brands-list__img">
              <source type="image/avif" srcset="images/brands/06@3x.avif,
                                                images/brands/06@2x.avif,
                                                images/brands/06.avif">
              <source type="image/webp" srcset="images/brands/06@3x.webp,
                                                images/brands/06@2x.webp,
                                                images/brands/06.webp">
              <source type="image/png" srcset="images/brands/06@3x.png,
                                               images/brands/06@2x.png">
              <img src="images/brands/06.png" alt="брэнд">
            </picture>
          </a>
        </li>
        <li class="brands-list__item">
          <a class="brands-list__link" href="#">
            <picture class="brands-list__img">
              <source type="image/avif" srcset="images/brands/07@3x.avif,
                                                images/brands/07@2x.avif,
                                                images/brands/07.avif">
              <source type="image/webp" srcset="images/brands/07@3x.webp,
                                                images/brands/07@2x.webp,
                                                images/brands/07.webp">
              <source type="image/png" srcset="images/brands/07@3x.png,
                                               images/brands/07@2x.png">
              <img src="images/brands/07.png" alt="брэнд">
            </picture>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>