<ul class="product-info">
  <li class="product-info__item" data-spollers data-one-spoller>
    <h3 class="product-info__title" data-spoller>детали</h3>
    <div class="product-info__content">
      <h4>О ТОВАРЕ</h4>
      <p>
        Освежитесь этим летом в мини-майке с оборками от нашего собственного бренда LA Hearts. Майка имеет
        приталенный крой, регулируемые бретельки, круглый вырез, оборки по низу и укороченный крой.
      </p>
      <h4>преимущества</h4>
      <ul>
        <li>Приталенный крой</li>
        <li>Регулируемые бретельки</li>
        <li>Круглый вырез горловины</li>
        <li>Низ с оборками</li>
        <li>Укороченная длина</li>
        <li>Модель небольшого размера</li>
        <li>100% вискоза</li>
        <li>Можно стирать в машине</li>
      </ul>
      <h4>преимущества</h4>
      <ul>
        <li>Приталенный крой</li>
        <li>Регулируемые бретельки</li>
        <li>Круглый вырез горловины</li>
      </ul>
      <h4>ДОСТАВКА</h4>
      <p>Мы предлагаем бесплатную стандартную доставку для всех заказов на сумму свыше 75 долларов США в 50
        штатов и округ
        Колумбия. Минимальная стоимость заказа должна составлять 75 долларов США без учета налогов, доставки и
        обработки.
        Стоимость доставки возврату не подлежит.</p>
      <p>Пожалуйста, выделите до 2 рабочих дней (за исключением выходных, праздничных дней и дней распродаж)
        на обработку вашегозаказа.</p>
      <p>Время обработки + Время доставки = Срок доставки</p>
    </div>
  </li>
  <li class="product-info__item" data-spollers>
    <h3 class="product-info__title" data-spoller>Прочая информация</h3>
    <div class="product-info__content">
      <h4>О ТОВАРЕ</h4>
      <p>
        Освежитесь этим летом в мини-майке с оборками от нашего собственного бренда LA Hearts. Майка имеет
        приталенный крой, регулируемые бретельки, круглый вырез, оборки по низу и укороченный крой.
      </p>
      <h4>преимущества</h4>
      <ul>
        <li>Приталенный крой</li>
        <li>Регулируемые бретельки</li>
        <li>Круглый вырез горловины</li>
        <li>Низ с оборками</li>
        <li>Укороченная длина</li>
        <li>Модель небольшого размера</li>
        <li>100% вискоза</li>
        <li>Можно стирать в машине</li>
      </ul>
      <h4>преимущества</h4>
      <ul>
        <li>Приталенный крой</li>
        <li>Регулируемые бретельки</li>
        <li>Круглый вырез горловины</li>
      </ul>
      <h4>ДОСТАВКА</h4>
      <p>Мы предлагаем бесплатную стандартную доставку для всех заказов на сумму свыше 75 долларов США в 50
        штатов и округ
        Колумбия. Минимальная стоимость заказа должна составлять 75 долларов США без учета налогов, доставки и
        обработки.
        Стоимость доставки возврату не подлежит.</p>
      <p>Пожалуйста, выделите до 2 рабочих дней (за исключением выходных, праздничных дней и дней распродаж)
        на обработку вашегозаказа.</p>
      <p>Время обработки + Время доставки = Срок доставки</p>
    </div>
  </li>
  <li class="product-info__item" data-spollers>
    <h3 class="product-info__title" data-spoller>Еще одна вкладка</h3>
    <div class="product-info__content">
      <h4>О ТОВАРЕ</h4>
      <p>
        Освежитесь этим летом в мини-майке с оборками от нашего собственного бренда LA Hearts. Майка имеет
        приталенный крой, регулируемые бретельки, круглый вырез, оборки по низу и укороченный крой.
      </p>
      <h4>преимущества</h4>
      <ul>
        <li>Приталенный крой</li>
        <li>Регулируемые бретельки</li>
        <li>Круглый вырез горловины</li>
        <li>Низ с оборками</li>
        <li>Укороченная длина</li>
        <li>Модель небольшого размера</li>
        <li>100% вискоза</li>
        <li>Можно стирать в машине</li>
      </ul>
      <h4>преимущества</h4>
      <ul>
        <li>Приталенный крой</li>
        <li>Регулируемые бретельки</li>
        <li>Круглый вырез горловины</li>
      </ul>
      <h4>ДОСТАВКА</h4>
      <p>Мы предлагаем бесплатную стандартную доставку для всех заказов на сумму свыше 75 долларов США в 50
        штатов и округ
        Колумбия. Минимальная стоимость заказа должна составлять 75 долларов США без учета налогов, доставки и
        обработки.
        Стоимость доставки возврату не подлежит.</p>
      <p>Пожалуйста, выделите до 2 рабочих дней (за исключением выходных, праздничных дней и дней распродаж)
        на обработку вашегозаказа.</p>
      <p>Время обработки + Время доставки = Срок доставки</p>
    </div>
  </li>
</ul>