<!-- карточка товара простая -->
<a class="card-product" href=#>
  <div class="card-product__img">
    <img src="images/some-wear/01.jpeg" alt="dres">
  </div>
  <div class="card-product__category">
    TOP women
  </div>
  <p class="card-product__text">
    Angels malu zip jeans slim black used
  </p>
  <p class="card-product__price">139,00 EUR</p>
</a>

<!-- карточка товара со скидкой -->
<a class="card-product" href=#>
  <div class="card-product__img">
    <span class="card-product__sale">-30%</span>
    <img src="images/some-wear/04.jpeg" alt="dres">
  </div>
  <div class="card-product__category">
    TOP women
  </div>
  <p class="card-product__text">
    Angels malu zip jeans slim black used
  </p>
  <p class="card-product__price card-product__price--sale">
    139,00 EUR<span>119,00 EUR</span>
  </p>
</a>
<!-- карточка товара с выбором цвета -->
<a class="card-product" href="#">
  <div class="card-product__img">
    <img src="images/catalog/07.jpg" alt="dres">
  </div>
  <div class="card-product__category">
    TOP women
  </div>
  <p class="card-product__text">
    Angels malu zip jeans slim black used
  </p>
  <p class="card-product__price">139,00 EUR</p>
  <form class="card-product__colors" action="#">
    <label class="card-product__label">
      <input class="card-product__input" type="checkbox">
      <span class="card-product__checkbox" style="background-color: #24426A;"></span>
    </label>
    <label class="card-product__label">
      <input class="card-product__input" type="checkbox" checked>
      <span class="card-product__checkbox" style="background-color: #F3ECE2;"></span>
    </label>
    <label class="card-product__label">
      <input class="card-product__input" type="checkbox">
      <span class="card-product__checkbox" style="background-color: #666689;"></span>
    </label>
  </form>
</a>