.catalog-hero {
  margin-top: rem(15);
  margin-bottom: rem(20);

  &__wrapper {
    padding: rem(96) rem(10) rem(78) rem(292);
  }

  &__title {
    position: relative;
    max-width: rem(600);
    @extend %Oswald-500;
    font-size: rem(56);
    line-height: rem(72);
    text-transform: uppercase;

    &::before {
      content: '';
      position: absolute;
      top: rem(-19);
      right: rem(-57);
      display: inline-block;
      width: rem(604);
      height: rem(100);
      background-image: url('../images/icons/decor-line.svg');
    }

    &:not(:last-child) {
      margin-bottom: rem(17);
    }
  }

  &__text {
    max-width: rem(640);
    @extend %Roboto-300;
    font-size: rem(25);
    line-height: rem(37);

    &:not(:last-child) {
      margin-bottom: rem(24);
    }
  }
}