<section class="catalog-hero">
  <div class="container">
    <div class="catalog-hero__wrapper" style="background-image: url(images/catalog-hero/bg.jpeg);">
      <h2 class="catalog-hero__title">shoping without limits.</h2>
      <p class="catalog-hero__text">You can choose the best option for you, and it does not matter whether you are in Prague or San Francisco. We will deliver your purchase anywhere!</p>
      <a class="catalog-hero__btn page-btn" href="#">shop now</a>
    </div>
  </div>
</section>