<section class="blog">
  <div class="container">
    <div class="blog__wrapper">
      <h2 class="blog__title">Blog</h2>
      <ul class="blog__list">
        <div class="blog__list-item">
          <article class="blog-article">
            <div class="blog-article__theme">Article</div>
            <h3 class="blog-article__title"><a href="#">Exactly What To Wear To Every Type Of Wedding This Summer</a></h3>
            <p class="blog-article__text">A large part of the business here is building up the "experience". Double-page spreads in magazines. Ads on TV. Product
            placement and sponsorship in golf tournaments, tennis matches and sailing competitions. All of this builds up your
            perception of the brand - and additionally, it costs money.</p>
            <div class="blog-article__info">21 January 2018 by guido</div>
          </article>
        </div>
        <div class="blog__list-item">
          <article class="blog-article">
            <div class="blog-article__theme">TIPS</div>
            <h3 class="blog-article__title"><a href="#">Exactly What To Wear To Every Type Of Wedding This Summer</a></h3>
            <p class="blog-article__text">When selling 70% fewer shirts, however, there are fewer shirts on the market, making it more exclusive, and therefore
            worth the money, for those to whom it matters.</p>
            <div class="blog-article__info">21 January 2018 by guido</div>
          </article>
        </div>
        <div class="blog__list-item">
          <article class="blog-article">
            <div class="blog-article__theme">TIPS</div>
            <h3 class="blog-article__title"><a href="#">Exactly What To Wear To Every Type Of Wedding This Summer</a></h3>
            <p class="blog-article__text">A large part of the business here is building up the "experience". Double-page spreads in magazines. Ads on TV. Product
            placement and sponsorship in golf tournaments, tennis matches and sailing competitions. All of this builds up your
            perception of the brand - and additionally, it costs money.</p>
            <div class="blog-article__info">21 January 2018 by guido</div>
          </article>
        </div>
        <div class="blog__list-item">
          <article class="blog-article">
            <div class="blog-article__theme">Article</div>
            <h3 class="blog-article__title"><a href="#">Exactly What To Wear To Every Type Of Wedding This Summer</a></h3>
            <p class="blog-article__text">When selling 70% fewer shirts, however, there are fewer shirts on the market, making it more exclusive, and therefore
            worth the money, for those to whom it matters..</p>
            <div class="blog-article__info">21 January 2018 by guido</div>
          </article>
        </div>
      </ul>
    </div>
  </div>
</section>